[2014-03-26 08:37] yangzhe1990 opened #1 "Regarding computation of concurrent_io"
Hi,

I just found that the computation of concurrent_io is actually util_percentage in its decimal format.

In the following code,
            metrics['concurrent_io'] = (metrics['reads_per_second']
                                        + metrics['writes_per_second']
                                        ) * (metrics['service_time']
                                             / 1000.0)

where

[2014-04-30 05:18] kormoc opened #2 "Welcome!"
@python-diamond/devs This is the best way I know to contact you folks. I really feel that Diamond is only successful due to all of your contributions and having no place to work together, we can't achieve as much as we could. I've given you guys commit access and hope you will directly work in the code base.

I'll keep merging code into the brightcove upstream repo, but my hope is eventually we'll

[2014-05-24 04:00] Lacrymology opened #6 "Tests fail when collector import other collectors"
The server adds every collector directory to `sys.path`, but the test suite doesn't. This leads to errors in the test when collectors import other collectors, which don't fail in production.

I don't know if importing other collectors is "good form", but `memory_docker` imports `memory_cgroup` so it's test was failing with `E`.

Here's a very dirty patch that fixes the issue, but there should prob

[2014-05-24 04:04] Lacrymology opened #7 "Kafka tests are failing"
I don't even know what kafka is, but we're getting this in our travis builds:

[code]

I'm marking @dctrwatson as the author of the collector

[2014-05-24 15:46] #6 closed, assigned to nobody

[2014-05-29 17:13] nikitosiusis opened #10 "Problem sending metrics from ipv6-only machine."
I try to post my metrics from ipv6-only machine.
Destination has both A and AAAA records.

It tries to send metric by ipv4 and fails.
[2014-05-29 16:45:45,949] [MainThread] GraphiteHandler: Failed to connect to graphite-test:2024. [Errno 101] Network is unreachable.

https://github.com/python-diamond/Diamond/blob/master/src/diamond/handler/graphite.py#L171

[2014-08-05 03:55] #10 closed, assigned to nobody

[2014-08-13 04:37] #7 closed, assigned to nobody

[2014-10-16 09:23] checkmypi opened #19 "Long running collector shifts time overtime"
Hello,
I've been waiting for new threading model hoping it will somehow solve a problem that I'm having with one of my custom collectors.
My collector runs for about 500-600 ms and due to that each publish/collection is shifted by this amount.
And due to this shift I'm having every so often gaps in graphite.

This is what it looks like in diamond.log

<small>
[2014-10-16 09:08:35,659] [Thread-1] s

[2014-12-03 19:55] monkey1016 opened #28 "GraphitePickleHandler drops metrics when carbon-relay is behind ELB"
Similar to the closed issue BrightcoveOS/Diamond#458, but it looks like the fixes for that issue didn't work out for the `GraphitePickleHandler` as well.
I haven't had a chance to dive deep, but the gist of it is that when using the `GraphitePickleHandler` with a carbon-relay behind an ELB, we periodically (3-5 minutes) get the following errors

[code]

But the dropped metrics seem more frequent t

[2014-12-10 16:38] Krylon360 opened #31 "Update PyPi package?"
Would it be possible to cut a release to update the PyPi package? did a pip install diamond yesterday and it installed the BrightCove version.

[2014-12-26 07:31] Lacrymology opened #41 "Add some functionality to the mail collector"
This is about the collector I sent in #40

There's one main thing I'd like to add right now that is the possibility of collecting metrics for more than one domain hosted in the server. The main idea behind the `mailbox_prefix` configuration key was to be able to define more than one instance of the collector, each with a different prefix and path (at least our path to the different domain spools a

[2015-01-02 05:57] kormoc commented on #41
Well, with the new functionality to run a collector multiple times, wouldn't it be better to just run it one time per domain with a different path and spool_path set per collector?

[2015-01-02 05:58] kormoc commented on #19
This was merged to master. Should be solved, but let me know if it's still a problem!

[2015-01-02 05:58] #19 closed

[2015-01-02 06:34] kormoc commented on #31
Okay, 4.0.9 has been pushed and I updated the urls in the PKG INFO file.

[2015-01-02 06:34] #31 closed

[2015-01-02 19:09] jaingaurav commented on #31
@kormoc What is the corresponding commit id of 4.0.9? When I look at the github releases tab I only see 4.0

[2015-01-03 01:00] kormoc commented on #31
it's the 9th commit after 4.0 was cut. We have an open PR to add the hash to the version string so it's easier to track down. 4.0.14 is 9c773b1085ff7ce9f0b3fbc0a4a8969b251d45cd

[2015-01-03 17:36] chriscowley opened #49 "Service does not start on modern RPM systems (CentOS 7 and Fedora 21)"
Installed an rpm from HEAD.

Running `systemctl start diamond` gives:

[code]

Nothing goes into the logs

After running `diamond -f -c /etc/diamond/diamond.conf` the log contains:

[code]

[2015-01-03 18:11] jaingaurav commented on #49
I believe the 'handlers' config option is supposed to be a comma separated string. Are you by chance using a list instead of a string?

[2015-01-03 19:25] chriscowley commented on #49
I am using the defaults `handlers = diamond.handler.graphite.GraphiteHandler, diamond.handler.archive.ArchiveHandler`

I have also tried removing the space after the comma. To me that looks like a string, unless it is being enclosed in [] in server.py.

Removing `, diamond.handler.archive.ArchiveHandler` means it works, but it seems to be ignoring the host line for the GraphiteHandler. as I am not

[2015-01-03 20:35] jaingaurav commented on #49
diamond 4.0 seems to have a regression in the handling of the handler string whereby it assumes that it is a string literal. ConfigObj converts any strings with a comma in it to a list.

The later issue of ignoring the GraphiteHandler block should be resolved in pull request #47

I've also included a fix for the ConfigObj issue in the pull request

cc: @kormoc

[2015-01-04 03:23] hvnsweeting opened #51 "handler config in root config file does not work in 4.0"
I upgraded my diamond to 4.0 but the config for handler in /etc/diamond/diamond.conf didn't work anymore. It used to work with 3.x.

Even I created /etc/diamond/handlers/ArchiveHandler.conf, diamond does not use it:

[code]

log

[code]

because it use the default path "", which turned to "/" by logging module code:

[code]

Could you please provide a working example for handler config. Thanks

[2015-01-04 16:07] pythianliappis commented on #51
+1. I am getting the same issue and also looking for a valid diamond.conf; in 4.0 also the handlers definition in diamond.conf seems to be expected to be a string (enclosed in " ") otherwise it gets parsed as a list and fails when the split method is used.

[2015-01-04 16:44] hvnsweeting commented on #51
@pythianliappis  !47 may fix your problem

[2015-01-04 18:47] kormoc commented on #51
Can you try the current master and see if it fixes the issue?

[2015-01-04 19:14] pythianliappis commented on #51
@hvnsweeting Thanks a lot for the recommendation! Yes #47 fixes the issue with the string vs list definition of handlers.

However I am still experiencing the issue of log_file defined in the [[ArchiveHandler]] section, not honoured. I will try the last master as mentioned by kormoc kai see if this helps.

[2015-01-04 19:27] pythianliappis commented on #51
@kormoc I confirm that the last latest commit id: fc59d153379a0fde774fb59077b947a8740cd862 on master has fixed both issues; now diamond is running and has correctly processed the path in /etc/diamond/diamond.conf for the ArchiveHandler.

I successfully tested it both in centos65 and ubuntu trusty 64.

Thanks!

[2015-01-05 07:31] jaingaurav opened #54 "PyPi link to documentation needs to be updated"
On https://pypi.python.org/pypi/diamond/4.0.41 the 'Package Documentation' link points to https://github.com/BrightcoveOS/Diamond/wiki instead of https://github.com/python-diamond/Diamond/wiki

[2015-01-05 08:27] Lacrymology commented on #41
wait, I missed this. Sure it would (it was my original idea)

Can you point me to the right spot?

[2015-01-05 19:44] chriscowley commented on #51
It seems to me that (at least in my case) it is not descending into my collectors directory. More precisely, I have a file `cat /etc/diamond/collectors/DiskSpace.conf` which contains:

[code]

And Diamond is still sending info about my NFS mounts to Graphite.

[2015-01-05 20:22] shaunduncan opened #56 "Support for entry_points?"
I was looking at the implementation for creating custom collectors and handlers and I was curious if there was any thought or plans to support [entry_points](https://pythonhosted.org/setuptools/setuptools.html#dynamic-discovery-of-services-and-plugins) rather than inspecting a canonical filesystem location. This approach would make it very easy to make custom/third-party collectors and handlers in

[2015-01-07 19:42] whisk3y opened #57 "ElasticSearchCollector feature request"
Is it possible to add  merge statistic support to the elasticsearch collector? The url for it is:
curl http://localhost:9200/_stats/merge?pretty=true

I am sure this is pretty trivial, I just do not know how to do it, and unfortunately do not have the time to work on it like I wish I did.

[2015-01-12 19:31] shaunduncan opened #59 "Issues with SNMP collection"
Hello!

I'm working on testing out SNMP data collection and I am running into some issues that are leading me to believe that this feature might be broken. I have a small VM setup using the SNMPRawCollector as follows:

[code]

There are a few behaviors I have noticed that are confusing me:
1. The configuration docs on this collector seem to be out of date and do not show proper config nesting (i.

[2015-01-13 15:49] shaunduncan commented on #59
Also, is there a discernible difference between the SNMPCollector and SNMPRawCollector? It's not clear to me from the documentation as to when one would be preferable over the other.

[2015-01-15 03:41] hvnsweeting commented on #51
this problem is fixed in latest diamond (I'm using pip version 4.0.41). Anw, with the old config file, now diamond started with 17 processes, is that what new threading model suppose to do?

[code]

[2015-01-16 06:18] jamesmulcahy opened #65 "Exceptions in collect() method are buried silently"
I have the log level at DEBUG, but exceptions inside a custom collector's collect() method are not reported anywhere in the log.  This makes it quite hard to track down issues.

[2015-01-16 07:56] agaoglu opened #66 "network collector: vlan interfaces with dots"
Some of our servers use 8021q vlan interfaces and are named like eth2.23

These create metrics such as

[code]

causing metric path structure to change. It'd be better if the dot was replaced with something like _.

[2015-01-16 12:28] nielsole commented on #65
collector.py:469:
    try:
                start_time = time.time()

            # Collect Data
            self.collect()
...

            finally:
                # After collector run, invoke a flush
                # method on each handler.
                for handler in self.handlers:
                    handler._flush()

No `except:`? This is bugging me for days now. It would be really cool

[2015-01-16 15:56] shaunduncan commented on #65
I ran into this same frustration. I put together a small pull request for it: https://github.com/python-diamond/Diamond/pull/60

[2015-01-20 20:11] jamesmulcahy opened #69 "DiskSpaceCollector does not honour exclude_filters unless using /proc/mount"
This config option is ignored unless the mounts are found in /proc/mounts. If psutil is used to determine the mounts, then no filtering occurs.

I have a fix for this which I'll push shortly.

[2015-01-20 20:12] jamesmulcahy opened #70 "CPUCollector doesn't honor percore config variable for psutil collections"
If you don't have /proc/stat present, CPUCollector will fallback to using 'psutil' to get the CPU data.

Unfortunately, only the /proc/stat codepath checks the 'percore' config variable.

Easy fix; will push one shortly.

[2015-01-22 15:50] isotopp opened #76 "mysql.py is not a good name for a collector"
I tried to use the MySQLCollector defined in src/collectors/mysql/mysql.py.

Diamond has claimed to load this: `Loaded Modules: mysql`, but was not loading the class. For the mysql55.py collector, `Loaded Modules: mysql55` was followed by `Loaded Collector: mysql55.MySQLPerfCollector`, but for the mysql.py, `Loaded Collector: MySQLCollector` never showed.

That was, because

    [2015-01-22 16:35:

[2015-01-22 15:53] isotopp commented on #76
Alternatively, you change the way you load the module in a way that the module search path is more limited. That might be the better option, actually.

[2015-01-23 16:11] choopooly opened #78 "cloudwatchHandler failed to compare metrics"
I'm trying the cloudwatchHandler but for some reason I can't make it work.
The connection with cloudwatch works fine, but during the cloudwatch.process function , metric.getMetricPath() return nothing so the comparison fails without any log message.

[code]

Here is my config

[code]

Also, I probably misinterpreted the config with the namespace, but if I add path_suffix = os to my collectors, the

[2015-01-26 07:54] AlexAkulov opened #79 ""pip install diamond" failed (CentOS 7, diamond 4.0.41)"
Hello,
I can not install Diamond through "pip" in CentOS 7
Installation fails with the error:

File setup.py in package diamond-4.0.41.tar.gz contains:
[code]
but there is no file "rpm/systemd/diamond.service" in the archive

[2015-01-26 14:43] shaunduncan opened #80 "Debian package does not create group for diamond user"
I am not sure if this is intended behavior, but currently creating a debian package and installing creates a 'diamond' user but does not explicitly place that user into a group. I would expect that a group 'diamond' would also be created. I have not looked at either the RHEL/gentoo packaging to see if this is the same behavior. Is not having an explicit group created expected?

Thanks!

[2015-01-28 00:06] bwbaugh opened #81 "Allow IAM role authentication for the SQS Collector"
The [SQS collector](https://github.com/python-diamond/Diamond/blob/master/src/collectors/sqs/sqs.py) should be able to use [IAM role](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html) authentication, similar to how the [ELB collector](https://github.com/python-diamond/Diamond/blob/d429c52e9c39a81d7d15adc6b52531a39e621527/src/collectors/elb/elb.py#L156,L159) already

[2015-01-28 09:01] mattrobenolt opened #82 "Remove dependency on pyrabbit for RabbitMQ Collector"
This can just be replaced with stdlib tools. No reason to require this dependency.

[2015-01-28 09:01] mattrobenolt opened #83 "Some varnish stats get missed because of bad regular expression"

[2015-01-28 20:01] jgoldschrafe opened #84 "Diamond hemorrhages memory when Graphite server is inaccessible"
I recently ran into a situation on one of my hosts where Diamond 4.0 series was consuming over 3 GB of memory after being unable to connect to Graphite for a couple of hours -- RES in htop appears to grow by 2-3 MB per minute. I'm not sure if this is an issue with unbounded write buffer growth or leaked objects in connection handling, but it presents a serious threat to system stability.

[2015-01-28 20:02] jaingaurav commented on #84
What collectors do you have enabled? Would you know which collector is causing this?

[2015-01-29 03:48] jgoldschrafe commented on #84
It's occurring on a number of hosts with a number of different collector configurations enabled while the Graphite server is down. There is a direct relationship between the number of metrics collected and the rate of memory increase (i.e. hosts with an HAProxy or MongoDB collector enabled, which publish a lot of metrics, see the memory usage increase significantly faster).

[2015-02-04 17:42] shawnbutts commented on #84
Assuming the GraphitePickleHandler is being used, https://github.com/python-diamond/Diamond/pull/94 might take care of this.

[2015-02-05 13:37] accuracy23 opened #96 "dpkg --purge removes /lib/init/upstart-job"
As the title says, purging the diamond deb removes /lib/init/upstart-job. I had originally raised this in the Brightcove repo before realizing that this was active repo. I've just rebuilt a fresh deb package from this repository and the issue seems to still be present.

[2015-02-15 09:14] #82 closed

[2015-02-15 09:46] #83 closed

[2015-02-17 18:46] JasonJanelle commented on #96
I can confirm that this is happening.

[2015-02-19 15:16] deejay1 commented on #96
Can you check if the package from the build from the PR fixes this issue?

[2015-02-19 22:02] mlowicki opened #108 "memory collectors uses wrong property to get actual memory available"
According to documentation (http://pythonhosted.org/psutil/#psutil.virtual_memory) *free* isn't the right property to read amount of available memory - https://github.com/python-diamond/Diamond/blob/master/src/collectors/memory/memory.py#L115

[code]

[2015-02-20 09:06] accuracy23 commented on #96
Yes it works!

[code]

[2015-02-20 13:19] Nihn commented on #108
+1

[2015-02-21 13:30] deejay1 commented on #108
I'd rather have both values (eg free and available)

[2015-02-21 14:59] mattrobenolt commented on #108
+1 to logging both.

[2015-02-24 10:33] Nihn commented on #108
I've added logging both to my pull request

[2015-02-24 10:37] deejay1 commented on #96
Great, I hope it gets merged soon ;)

[2015-02-26 23:15] #108 closed

[2015-03-02 00:55] sacharv opened #115 "GraphiteHandler sends ntpd.offset value as 0"
moved this issue from the old repo to this one (if I shouldn't have don this p[lease let me know)

I switched from the GraphitePickleHandler to the GraphiteHandler yesterday and noticed that all ntpd offset values where suddenly reported as 0. When looking into this I noticed when I switch back to the GraphitePickleHandler the correct value is being sent, in this case: 0.00162993

ntpdc -c kerninf

[2015-03-02 22:48] beeftornado commented on #51
Also confirmed this issue is present in latest release, but not in master. Thanks

[2015-03-05 09:24] nariyaz opened #122 "rhel5 make rpm failure - Python 2.4 compatibility"
byte-compiling /var/tmp/diamond-4.0.87-0-buildroot/usr/lib/python2.4/site-packages/diamond/utils/classes.py to classes.pyc
  File "/usr/lib/python2.4/site-packages/diamond/utils/classes.py", line 151
    except (KeyboardInterrupt, SystemExit) as err:
                                            ^
SyntaxError: invalid syntax

In Python 2.5 and earlier, use the comma version, since as isn't supported

[2015-03-05 16:01] mattrobenolt commented on #122
@kormoc Is there a reason for us to continue supporting python 2.4? That's super old at this point.

[2015-03-05 16:04] #122 closed

[2015-03-06 09:19] mlowicki opened #123 "Names of some metrics prefixed with dot"
Seems that `Collector.get_metric_path` is guilty. Last return in this method `return '.'.join([prefix, path, name])` uses prefix which is blank in these cases. Sample metrics from StatsD's logs:

[code]

It causes some issues later on when in e.g. relay-rules.conf for Graphite regexp needs to be added as for some metrics we have ".." inside.

[2015-03-06 11:25] mlowicki commented on #123
config for loadavg looks like this:
[code]

[2015-03-11 02:14] josegonzalez commented on #2
@kormoc Thoughts on closing old PRs in the brightcove repo? And maybe changing the readme so that people stop referring to it?

[2015-03-11 02:40] josegonzalez commented on #96
The pr was merged, thanks @deejay1 !

[2015-03-11 02:40] #96 closed

[2015-03-11 02:41] josegonzalez commented on #81
@bwbaugh Would you like to make a PR for this feature?

[2015-03-11 02:41] josegonzalez commented on #80
What user does diamond currently run as?

[2015-03-11 02:42] josegonzalez commented on #79
Interesting, the file exists [here](https://github.com/python-diamond/Diamond/blob/master/rpm/systemd/diamond.service).

Is someone familiar with packaging that might be able to figure out whats going on here?

[2015-03-11 02:43] josegonzalez commented on #78
@choopooly Were you able to figure out what was going on?

[2015-03-11 02:44] josegonzalez commented on #76
The way we handle this for redis is by naming it `redisstat`. Can you make a pr renaming it `mysqlstat`?

[2015-03-11 02:45] josegonzalez commented on #70
Closing as there is a PR open where we can track the issue :)

[2015-03-11 02:45] #70 closed

[2015-03-11 02:47] josegonzalez commented on #66
There was an issue raised in the old repo regarding this, let me see if I can find it...

[2015-03-11 02:49] josegonzalez commented on #65
Closing as there is a PR open.

[2015-03-11 02:49] #65 closed

[2015-03-11 02:51] josegonzalez commented on #54
@kormoc can you make this change?

[2015-03-12 13:54] deejay1 commented on #80
@josegonzalez according to the package as the diamond user

[2015-03-12 15:40] #80 closed

[2015-03-12 16:06] mattrobenolt commented on #76
We just hit this issue with the kafka module as well. :(

[2015-03-12 16:09] josegonzalez commented on #76
Mind making a pr for the kafka module?

[2015-03-12 16:09] mattrobenolt commented on #76
I'm just going to fix both of these on master. :) One sec.

[2015-03-12 16:11] #76 closed

[2015-03-15 22:49] choopooly commented on #78
@josegonzalez unfortunately no.

[2015-03-17 10:16] isotopp commented on #76
You will be hitting these again and again, because the actual problem is the module search path. This is what needs to be fixed instead.

[2015-03-17 10:18] mattrobenolt commented on #76
@isotopp If you submit a PR, I'll happily take a look. :) In the meantime, what I've done works. But I agree, it's not the ideal solution. We will hit this problem again with other modules.

[2015-03-17 14:43] josegonzalez commented on #76
To be honest, I never understood why the collectors weren't all called after the classes they contained (`mysql_collector.py`, `redis_collector.py`). Perhaps we should do that unless @kormoc has any objections?

[2015-03-19 17:02] SwanJumelle opened #133 "DatadogHandler - throwing AttributeError: 'DatadogHandler' object has no attribute 'queue' exception"
I've done a debian installation.
I try to use the DatadogHandler by adding `handlers = diamond.handler.datadog.DatadogHandler` to my `/etc/diamond/diamond.conf` I get the following exception (found in `/var/log/diamond/diamond.log`);

[code]

[2015-03-20 01:19] chriscannon opened #134 "MemAvailable Not Being Collected"
Hello,

I'd really like to track the MemAvailable metric in Graphite, but when I set `detailed = True` in my collector configuration I do not see it in the list of metrics. I'm running the HEAD of the master branch. Is there something else I need to enable to collect that metric?

Thanks,
Chris

[2015-03-20 01:54] chriscannon commented on #134
Ah I think I've figured it out. On Ubuntu 14.04 /proc/meminfo does not list MemAvailable, therefore Diamond does not publish it. However on the same machine if I run psutil.phymem_usage().available I do see the correct available memory. I think there should be a setting to force using psutil to collect the memory metrics. I'll make a PR.

[2015-03-20 11:54] chriscannon commented on #134
Instead of forcing `psutil`, I think it's better to just upgrade the kernel so that `/proc/meminfo` contains `MemAvailable`. But I do believe that it should be a default rather than having to enabled `detailed`. See PR #135.

[2015-03-20 11:55] #134 closed

[2015-03-20 15:14] SwanJumelle commented on #133
The solution is to do ```pip install dogapi``` first

[2015-03-20 16:33] SwanJumelle opened #136 "Datadog - wrong timestamp send"
Here is the log from diamond.log

`[2015-03-20 17:11:37,573] [MainThread] Sending.. topic[rax.iostat.xvda.write_requests_merged_per_second], value[2], timestamp[1426866011]`

the time when the data is send is `17:11:37`. But the timestamp value is at `16:40:11`

[2015-03-23 16:15] csarcom opened #137 "Problem with InfluxdbHandler"
I have installed diamond and influxdb, both running, my diamonf conf setup is:

[code]

The rest is all default conf.

I Have no problem accessing influxDB web interface and create databases and do some post... But for some reason diamond is not writing any data to infliuxDB, Am I missing something?

[2015-03-23 17:37] csarcom commented on #137
I changed influxdb version to 0.4.1 and now its working.

I was getting this error:

[code]

[2015-03-23 19:21] ctrlrsf commented on #137
python influxdb client version 1.0.0 is targeting v0.9 API, which has breaking changes from 0.8.x API.

From influxdb-python project:
InfluxDB 0.8.X users may use the legacy client by using `from influxdb.influxdb08 import InfluxDBClient` instead.

What are the thoughts on adding support for v0.9, sticking with 0.8.x for a while, or supporting both?

[2015-03-24 15:28] lesaux opened #138 "Docker Containers"
Hello, I've created a "DockerContainersCollector" at https://github.com/lesaux/diamond-DockerContainerCollector which leverages docker-py to gather container metrics.
Would there be some interests of having this included in Diamond?
If so I could work on cleaning it up, adding a few config parameters and creating tests.

[2015-03-24 17:00] mzupan commented on #138
:+1:

[2015-03-26 11:25] fmargelidon opened #140 "load collector config"
I recently install Diamond to send metrics to statsD. All CPU, Memory, Network... metrics works except ProcessResourcesCollector.

I don't know why but it seems ProcessResourcesCollector does not load my ProcessResourcesCollector.conf.

In file /etc/diamond/diamond.conf, I have :
collectors_config_path = /etc/diamond/collectors/
[[ProcessResourcesCollector]]
enabled = True

In file /etc/diamond/co

[2015-03-26 13:50] eMerzh opened #141 "Add Collector for inode Usage"
Hi,

I think it does not exists yet, so here is a little request,

is it possible to have a collector to monitor Inode usage  ..like the result of a df -i ....

i got a server that crashed today because of that ...

Thanks a lot :)

[2015-03-26 15:53] mzupan commented on #141
It is given in the diskspace collector

https://github.com/python-diamond/Diamond/blob/master/src/collectors/diskspace/diskspace.py#L213

[2015-03-26 15:53] #141 closed

[2015-03-28 02:11] Goggin opened #143 "PortStat - Counter not available in 2.6"
`from collections import Counter` from [here](https://github.com/python-diamond/Diamond/blob/master/src/collectors/portstat/portstat.py#L10) does not work in python 2.6 as it was implemented in 2.7

A backported version of Counter can be located [here](http://code.activestate.com/recipes/576611-counter-class/).  It might be good to include this somewhere in the project as a fallback in case the co

[2015-03-29 10:35] basilfx opened #144 "Installation via Pip overwrites config"
I moved this issue from [the old repository](https://github.com/BrightcoveOS/Diamond/issues/779) to here, as it still bugs me.

I prefer to install Diamond via `pip install (-U) diamond`. However, after I do this, my configuration in `/etc/diamond` is overwritten, meaning that I have to re-enable all collectors again.

Is there something I can do to prevent this (apart from making backups)?

(Ubun

[2015-03-30 23:02] powo opened #146 "NetAppCollector expects arguments to collect() method"
The `collect` in the `netapp` collector classes expects additional arguments, but `.collect()` isn't called with any arguments.

[code]

This seems to be the only plugin affected, but I don't know how this ever worked ... has the API been changed in the past ?

[code]

[2015-03-31 17:17] benjarrell commented on #137
I would like both for now.

Using 1.0.2 with a v0.9.0-rc17 database I get:

[code]

[2015-04-01 21:40] imreACTmd commented on #137
I just sent in a pull request to support both 0.8 and 0.9.

[2015-04-09 09:05] f3ew opened #150 "Diamond needs to handle clock forwards caused by VM suspend/resumes"
This applied to the 4.0 series.

If you suspend a VM, and resume it later, diamond sees the difference as a lot of missed runs and attempts to make up for it, causing high CPU usage and running a lot of collectors.

A tcpdump from a VM setup to discard diamond output:

[vagrant@local-puppet-001 ~]$ sudo tcpdump -c 5000 -i lo port 9 -s0 -A | grep cpu.total.user  | sort | uniq -c
tcpdump: verbose ou

[2015-04-10 14:11] thpham commented on #143
+ 1 , I got the same problem

[2015-04-10 14:13] mattrobenolt commented on #143
Yeah, I'll fix.

[2015-04-16 06:26] mrh666 commented on #138
lesaux, it'll be great!!

[2015-04-17 12:01] himanchali opened #155 "To run a single collector to test and exit doesn't work."
[code]

This feature is not working anymore and it executes all enabled collector instead of only running single collector and exit. This part can be seen removed in commit https://github.com/python-diamond/Diamond/commit/1e49cdfd254b8068f292abd867ba337f599962b1#diff-96492ac5a0fe3a4c6b33a1e1ddc0f34b  .
Any particular reason? Can I send a pull request and add it back ?

[2015-04-18 23:32] bicofino opened #156 "CPUCollector not showing the right information"
Hello,

So far, I'm having issues with CPUCollector.

Here is my setup:
OS: Ubuntu 14.10
Python Version: 2.7.8
Installed packages:

argparse==1.2.1
configobj==5.0.6
diamond==4.0.41
psutil==2.2.1
python-statsd==1.7.2
six==1.9.0
wsgiref==0.1.2

CPUCollector config:
(armory)~/D/A/diamond ❯❯❯ diamond-setup -c diamond.conf --print -C CPUCollector
CPUCollector {'path_suffix': '', 'ttl_multiplier': 2, 'm

[2015-04-19 11:03] amitgilad3 opened #157 "Cant install diamond rpm on centos 7 => Requires: python(abi) = 2.6"
when i try to install diamond rpm with yum install i get the following error
  python(abi) = 2.6 is needed by diamond-4.0.128-0.noarch.rpm

running environment:
centos 7
python 2.7.5

is there any way i can build the rpm and tell the requirements is  python(abi) >= 2.6 ??

[2015-04-19 11:17] amitgilad3 opened #158 "i"

[2015-04-19 11:54] #158 closed

[2015-04-19 12:01] mrh666 commented on #157
Same here, Centos 7 with python 7 and the the error the same:
$ python(abi) = 2.6 is needed by diamond-4.0.128-0.noarch.rpm

If I create rpm on Centos 7 (python 2.7) they doesn't work on Centos 6 and opposite situation the same.
So is there is any way to manage python >= SOME_VERSION?

[2015-04-20 07:56] consi opened #159 "Logfile is being created with wrong permissions."
Logfile created by diamond (/var/log/diamond.log, and rotated files) has wrong permissions by default (666). I think, that It should have 640 permissions by default.

[2015-04-20 13:10] janisz opened #161 "Travis build are failing"
All [builds PR from last 4 days](https://travis-ci.org/python-diamond/Diamond/pull_requests) are failing for same reason.

    No handlers could be found for logger "bernhard"

[2015-04-20 15:29] mattrobenolt commented on #161
I see. The build is broken, but that's not the reason. That's just normal stdout stuff.

It's definitely broken on 2.6 because of #143.

The other failures look like an updated pymongo with a different API? Investigating.

[2015-04-20 15:33] mattrobenolt commented on #143
I'm just going to remove the dependency on `Counter` entirely since it's not really being utilized. It's doing something that a simple dict can do instead.

[2015-04-20 15:36] #143 closed

[2015-04-20 15:37] mattrobenolt commented on #143
`defaultdict` has existed since python 2.4, and in this case, completely identical in functionality.

[2015-04-20 15:53] #161 closed

[2015-04-21 03:01] bicofino commented on #156
Removing the config from CPUCollector.conf and using only on diamond.conf worked!

[2015-04-21 03:01] #156 closed

[2015-04-27 17:17] joel-airspring opened #168 "Can we get a new pip package? (4.0.41 is over 3 months old)"
I installed the latest build from pip (4.0.41).

It contains a bug that is fixed in latest master.  This is the commit:  023895b5bea4295e738056e398515e8e273a97b1

Could a new pip package be pushed?   Current pip is over 3 months old.

Thanks!

*********************************************************************

Also, pip 4.0.41 has a packaging bug of some kind.  It contains this file:

/etc/diam

[2015-05-06 01:19] jumping opened #176 "worrying about performance issue"
I am not sure whether the Diamond has performance issue, there are many processes are running on a server:

![image](https://cloud.githubusercontent.com/assets/255390/7486027/fefe6ac4-f3d0-11e4-9fc0-4f4d44f0c766.png)

Diamond version 4.0.132

[2015-05-06 16:59] mattrobenolt commented on #176
As you can tell by the screen shot, none of them are using a ton of resources. This is because diamond forks itself to run collectors in their own process and not block each other.

Is this causing an issue for you somehow? We run this in production at quite a large scale, and diamond is rarely an issue.

[2015-05-06 17:02] jaingaurav commented on #176
@mattrobenolt This is actually a bit of a problem for our user case since we have more than 30 collectors running resulting in more than half a gig of memory being used by diamond.

[2015-05-06 17:13] mattrobenolt commented on #176
Yeah, that's fair. It'd be worth being able to limit the amount of concurrency. We run tons of collectors as well, but we have tons of memory on each machine, so never noticed. If each process is 20m, that's 600m for all collectors if they're all running concurrently, so that's not great, I suppose.

Either way, I don't have much context about this area of the code that manages all of this. @kormo

[2015-05-06 17:26] jaingaurav commented on #176
Limiting concurrency would definitely help. Though I'd prefer having tight control on it since the break up of the collectors in different threads ensured that slow collectors would not delay the processing of others. Perhaps some way of grouping collectors in the config file would be useful.

I think a more general concern is why is 20MB being used at all. It seems a bit high for a basic collecto

[2015-05-06 17:38] mattrobenolt commented on #176
Because python. :smile:

[2015-05-06 17:48] jaingaurav commented on #176
Really? I'll do some digging this week, but I feel that we should be able to significantly reduce the resident memory. I have plenty of other processes that take up less memory. Even gunicorn is only half of each diamond collector.

[2015-05-06 17:49] mattrobenolt commented on #176
haha, it's definitely possible, but afaik, there weren't many design decisions around keeping the memory footprint low.

[2015-05-06 18:47] mzupan commented on #176
Lets just switch the project to Go and be done with it :)

[2015-05-06 22:44] jumping commented on #176
I only use the default settings: cpu, load, disk, IO.

[2015-05-06 23:14] josegonzalez commented on #176
@mzupan https://github.com/josegonzalez/metricsd

[2015-05-07 05:23] Investocat commented on #176
Protip, if you install setproctitle, diamond will tell you what each process is doing

We're not seeing a massive increase in resources on our installs. I believe all forking is copy on write, so the memory claimed is actually much higher then it really is.

    # ps ax | grep -i diamond
     3008 pts/0    S+     0:00 diamond
     3010 pts/0    Sl+    0:00 diamond - SyncManager
     3020 pts/0

[2015-05-07 15:02] ghost opened #178 "New version won't start, stuck on "Starting process Handlers""
Hi,
I just attempted to upgrade Diamond from version 3.5.0. I first got the latest version in pip, then I tried directly installing from here.
I am pretty certain that the conf file is fine.
Every time I try to manually start a custom collector I get this in the log:

[root@target01 handlers]# /opt/comp/python/python-2.7.7/bin/diamond -l -f -r /usr/share/diamond/collectors/CoreRevFromPrevDay.py
14

[2015-05-07 15:54] Sybsw commented on #178
I tried to manually specify the conf file and got this:

[root@target01 diamond]# /opt/comp/python/python-2.7.7/bin/diamond -l -f -r /usr/share/diamond/collectors/CoreRevFromPrevDay.py -c /usr/share/diamond/collectors/CoreRevFromPrevDay.conf
1431014000.2    [MainProcess:2868:ERROR]        Unhandled exception: 'server'
1431014000.2    [MainProcess:2868:ERROR]        /opt/skyscanner/python/python-2.

[2015-05-08 02:02] davidbirdsong commented on #176
I'm just now noticing the 1-1 relationship between collector and diamond process. Is there no better way? I don't want to waste energy worrying about the relatively small footprint of a process, but there's something weird about forking a dedicated process to read from /proc once every 15 seconds or something similarly trivial.

Also, I run diamond on nodes that don't have a ton of memory just lik

[2015-05-08 02:33] Investocat commented on #176
Process counts don't matter. Resource usage does. CPU usage with 4.1 is a lot lower then in 3.0. We just need to reduce the memory consumption and it will be better.

[2015-05-08 19:19] josegonzalez opened #181 "Come up with a release cycle"
We should come up with a release cycle:

- Monthly? Bi-monthly?
- Should we concentrate on features/bugs for releases?
- How do we prioritize existing PRs/issues?
- Who has access to creating a pypi package?
- Should we also provide deb packages as part of a release?

This is meant as an RFC. Plenty of people use diamond, and it sucks that we can't give them a "known good" version at any point.

[2015-05-08 19:20] mattrobenolt commented on #181
I have access to pypi. But we should definitely provide debs.

[2015-05-08 19:22] mattrobenolt commented on #181
My biggest problem with all of this is that all the version bumping and changes literally only affect all the collectors.

I'd like to separate out the collectors from the core Diamond library. That way collectors can be managed independently instead of a core "THIS IS ALL OF THE THINGS".

I'd like to do a plugin system like we do for Sentry, then leave some of the collectors out of core and make

[2015-05-08 19:24] mattrobenolt commented on #181
But I think doing that split will help with the prioritization issue as well. There are many issues that I leave untouched because I have 0 context on them, and most are just, "ehhhhh, this looks reasonable. Does it have tests? Cool. Merge."

Which is not the best for reviewing and is stressful.

[2015-05-08 19:29] josegonzalez commented on #181
I feel the same way - and lots of the collectors seem to make semi-questionable changes, so its difficult to know whats what.

We should *also* have a standard release process for the collectors, and ensure we have an easy installation step for them. Maybe release the core collectors - cpu, disk, mem - with diamond and split everything else into separate projects?

[2015-05-08 19:31] mattrobenolt commented on #181
Yeah, that was my thoughts exactly. It'd help development on core without dragging along this huge suite of collectors along with it. Then we'd be able to hand over some of the collectors to their own maintainers who actually have the right context.

Lemme hack on/draft up a proposal this weekend for what I think this should look like.

[2015-05-09 23:15] mattrobenolt opened #183 "RFC: Splitting out collectors"
I'm going to start by laying out the way collectors work now:

* collectors are bundled inside this https://github.com/python-diamond/Diamond repo, but are not installed onto a `PYTHONPATH` anywhere. Nor are they modules in the `diamond` namespace.
* collectors get installed by `setup.py` into their `collectors_path` which is something like `/usr/share/diamond/collectors/` on Debian/Ubuntu. See: h

[2015-05-09 23:15] mattrobenolt commented on #181
See: #183

[2015-05-11 09:57] neilfordyce commented on #178
Part of the issue is related to https://github.com/python-diamond/Diamond/issues/155

The -r option can't be used to specify a single collector in v4.0, so Diamond will be trying to run all of the collectors in collectors_path.

[2015-05-11 11:42] Sybsw commented on #178
Yep, that looks like what's causing part of it. The -r option for starting one collector has been broken.
However, I still can't get the service to start up either. It still stops writing to the log at the same point.

[2015-05-12 09:30] pschuermann opened #187 "Windows multiprocessing ImportError- No module named diamond"
Installing latest diamond via pip on windows
[code]
Prereqs:
[code]

Starting with unmodified windows example config fails:
[code]

Any advice how to get the latest diamond version running on windows?

[2015-05-13 08:40] cannium opened #188 "Current metric name structure is hard to parse"
Current metric name structure is hard to parse for other applications like influxdb(see more explanations [here](https://github.com/influxdb/influxdb/issues/2102#issuecomment-101566403))
So I propose the metric name to be in a more uniformed structure, as `<prefix><hostname>[suffix]<metric name><measure>[device]`, for example, `servers.localhost.cpu.irq.cpu0`, `servers.desolation.loadavg.01` and `

[2015-05-13 21:26] mattrobenolt commented on #188
Hmm, so this is tricky.

I definitely understand the need for changing this to better support influxdb, but at the expense of breaking everyone's existing metrics for graphite.

I wonder if there's a way we can come up with that collectors return back a string for the metric name, or optionally a future-proofed `namedtuple` that was split up into pieces. Then each outputter could control the exact

[2015-05-13 22:18] Investocat commented on #188
Wasn't this the goal with the metrics 2.0 (http://metrics20.org/) refactor? Is that still happening?

[2015-05-14 01:14] josegonzalez commented on #188
So many refactors, so little time.

We should just cut a release of python-diamond now, start removing all the collectors, make a new release that supports external collectors, *then* start working on something that can resolve this. :(

[2015-05-14 02:26] cannium commented on #188
@mattrobenolt I think all we need is a standard for metric names, currently collectors just output arbitrary names. For implementation, a `namedtuple` is nice, and it should have some kind of schema.

@josegonzalez I understand that you have your priorities. But is there a rough time schedule we could expect? I'll come to help if you need.

[2015-05-14 15:01] josegonzalez commented on #183
Sounds reasonable to me. As an alternative, here is [how python-beaver handled it](https://github.com/josegonzalez/python-beaver/pull/95/files#diff-6e04985bf14c2c1a4917cf3a38379a54R4). Your way looks neater though. Want to come up with a PR for this?

[2015-05-14 15:02] josegonzalez commented on #181
@kormoc I'm going to do releases twice a month from now on - assuming there are changes - on the first and the 15th. This should allow people to start saying "version x doesn't work". I'll make the first release tomorrow - @mattrobenolt I'm guessing you can push to pypi.

Once we get the ball rolling, we can start looking at bugs within diamond versus just collectors and run through them all :)

[2015-05-14 15:03] josegonzalez commented on #188
@cannium see #181. We have no time-table, its up to everyone to help get this project back on track :)

[2015-05-26 21:45] shawnbutts opened #192 "Erroneous "Can not find collector" errors in the logs"
https://github.com/python-diamond/Diamond/commit/74ea2527d48537a764720619fdd73a83d413ad17

This change results in erroneous "Can not find collector" errors in the logs. The collectors are clearly they are working properly after being loaded.

[2015-05-27 18:43] docwhat commented on #187
If you copy the `Scripts\diamond` to `Scripts\diamond-cli.py` and run that, then it fixes this.

It's because the multiprocessing module tries to re-import the `Scripts\diamond` module and fails because it doesn't end in `.py`.

Renaming `Scripts\diamond` to `Scripts\diamond.py` breaks things because you can't import the rest of the diamond library.  Altogether, the way the multiprocessing stuff w

[2015-05-27 18:55] docwhat opened #194 "windows: Can't pickle thread.lock"
I'm getting an error about pickling a `thread.lock` object.  I'm not sure if this is a deficiency in the default pickler (should diamond use `dill` instead?) or if this should never be pickled anyway.

Alternatively, something else could be going wrong that I don't understand and the `thread.lock` error is just hiding it. :-/

The reason I renamed my `Scripts\diamond` script to `Scripts\diamond-cl

[2015-05-27 19:01] docwhat commented on #194
I tried switching to the `NullHandler` and it didn't help any.

[2015-05-27 19:03] mattrobenolt commented on #194
Hey @docwhat, I'm sorry, but I don't run windows and have never run diamond on windows, so I'm not sure I can be of much help, but if you come up with a solution (or someone else), I'll happily review and merge.

[2015-05-28 18:32] docwhat commented on #79
Is there a workaround for this? To, for example, not install the services/init.d stuff? I don't need/want it anyway.

[2015-05-30 16:22] docwhat commented on #79
@josegonzalez It exists in git, but not in the tarball...

The tarball being used is here: https://pypi.python.org/pypi/diamond/4.0.41

[code]

As you can see, the `rpm/systemd` is missing.

This is because whomever packaged it did it on a non-CentOS 7 system.  The `data_files` variable is incorrectly switching on OS versions in `setup.py`; it should always include those files.  Whether you use th

[2015-05-30 16:29] docwhat opened #195 "Version tags are missing"
The last version tag in the git repository is `v4.0.0`... All the tags up to and including `v4.0.41` are missing.

[2015-05-31 17:37] josegonzalez commented on #195
@kormoc This is probably something you are best to handle?

[2015-06-01 19:18] docwhat commented on #194
@mattrobenolt

I took a look at it and it is beyond me.  As near as I can tell, it has something to do with the way the multiprocessing is working.

For giggles and grins, I tried adding `import dill as pickle` at the top, but it then had problems with a missing `._fmode` attribute on `ForkingPickler`... so I suspect a file-handle/file-object is being pickled someplace that probably shouldn't be.

[2015-06-03 04:23] justin8 commented on #168
+1

Several issues have been fixed but are unavailable without installing from git.

[2015-06-03 13:33] bmhatfield commented on #195
Only major versions are tagged. The build script counts the number of commits from the last major version and appends that to the tag value. Individual version tags have never been added to this repo, AFAIK.

[2015-06-03 13:33] #195 closed

[2015-06-04 07:57] huoxy opened #197 "InfluxdbHandler raise InfluxDBClientError: 404: 404 page not found"
I found this import is the reason:

[code]

In fact, when influxdb -v == 0.8.x, the correct import should be:

[code]

ref: https://github.com/influxdb/influxdb-python/issues/135

[2015-06-04 07:58] huoxy commented on #197
ref: https://github.com/influxdb/influxdb-python/issues/135

[2015-06-04 18:20] josegonzalez commented on #195
We should add individual version tags going forward though?

[2015-06-08 03:07] justin8 opened #201 "NetworkCollector not always collecting stats"
I'm using diamond on 5 machines currently, and only 2 of them actually report network stats.

I'm not sure how to debug the collector, but the only network configuration difference really is that the 3 that are not working are configured via networkmanager and the other two via netctl.

[2015-06-09 15:42] Nihn opened #202 "[RabbitMQ] Parameter queues_ignored invalid."
All ini parameters are strings so when we set:
[code]
then in collector we would have list ['f', 'o', 'o'] instead of ['foo'].

[2015-06-10 14:17] #202 closed

[2015-06-11 21:20] docwhat opened #205 "memory_docker.py doesn't log errors connecting to docker"
I get no errors, even with debug logging, when using the `MemoryDockerCollector`.

However, I figured out that it was having trouble connecting to docker due to a version mis-match:

[code]

If that error had shown up as a WARN or ERROR (or even INFO) it would have saved me some time.

BTW: The dependency is actually 'docker-py' not 'docker' at https://github.com/BrightcoveOS/Diamond/blob/master/s

[2015-06-16 18:32] aferrari-technisys commented on #84
Hi guys, just to confirm that this is a big issue... currently in my case is using 85% of my memory:

[root@SUPV6746 ~]# ps aux | grep diamond
root      1687  0.0 85.6 7555348 6899476 ?     Sl   Apr30  58:15 /usr/bin/python /usr/bin/diamond -p /var/run/diamond.pid

Inclusive after restart... hope some can take care about this...

[2015-06-17 03:06] huoxy commented on #201
The default interfaces to collect are: eth, bond, em, p1p
you should add more within your situation

ref: https://github.com/BrightcoveOS/Diamond/wiki/collectors-NetworkCollector

[2015-06-17 03:23] justin8 commented on #201
Ahh, I hadn't realized that. Thanks.

It might be worth updating it to support interface names under systemd considering almost all majors distros are using it now. (eno/ens/enp/enx/wlan/etc)

Full list of them are here: http://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/

If I get time I'll try and attach a merge request here sometime soon.

[2015-06-18 09:15] Gug42 commented on #146
Hello,

I have the same issue here ...
I have try another "netapp collector" , wihtout success ... can you test it plz ?
https://github.com/SpringerPE/diamond-ontapclustercollector

I'm using diamond version 4.0.181

Thank you in advance.

[2015-06-25 00:20] pbooth commented on #176
Actually I'd disagree and say what matters most is impact, not resource usage.

Impact as in, if I can run application X with this workload and this latency /throughout characteristics, how is the application affected by the use of diamond, vs collectl, vs ganglia, vs sar, vs tesmquest, vs ...

[2015-06-25 10:56] starteleport opened #211 "MongoDBCollector Broken starting from pymongo 3.0"
This is just to point out the issue reported to old diamond repository by @iliapolo: https://github.com/BrightcoveOS/Diamond/issues/816.

[2015-07-06 07:58] cannium opened #215 "If diamond is started by upstart, `service diamond status` shows wrong status"
Because currently upstart doesn't write a pid file.

[2015-07-08 07:03] gavinzhou opened #217 "InfluxDBClientError: 400: {"error":"missing measurement"}"
I get this error message

[2015-07-08 16:02:25,114] [MainThread] "POST /write?p=root&u=root HTTP/1.1" 400 56
[2015-07-08 16:02:25,115] [MainThread] InfluxdbHandler: Error sending metrics, waiting for 32s.
[2015-07-08 16:02:25,115] [MainThread] Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/diamond/handler/Handler.py", line 72, in _process
    self.process(metric)
  Fil

[2015-07-08 07:04] gavinzhou commented on #217
Python 2.7.9 (default, Apr  1 2015, 18:18:03)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-16)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'2.6.0'

[2015-07-08 07:37] aboks opened #218 "Mismatch between docs and behavior of PingCollector"
Suppose `PingCollector` is configured with

[code]

The documentation ("We extract out the key after target_ and use it in the graphite node we push.") suggests that the metric sent will be `servers.hostname.ping.website`, but the actual metric sent is `servers.hostname.ping.www_example_org`. I don't know what the intended behavior is (and thus whether the doc or the code is wrong), only that ther

[2015-07-08 08:29] harishva opened #219 "SNMP collector not working"
[root@graphite collectors]# cat SNMPInterfaceCollector.conf
enabled = True
path_suffix = ""
retries = 3
measure_collector_time = False
byte_unit = byte
timeout = 5

path = interface
interval = 60

[devices]
[fw01]]
host = 192.168.1.1
port = 161
community = public
# here  goes logs

Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/diamond/utils/scheduler.py", line 70, in

[2015-07-08 09:26] gavinzhou commented on #217
change "name" to "measurement", this working

#148
thank you

[code]

[2015-07-08 09:26] #217 closed

[2015-07-09 09:37] nickveenhof opened #220 "How to add Custom Handler"
Hi,

I tried adding a custom handler to Diamond but it seems I keep failing to do so.

[code]

and filename is mycustomhandler.
I placed it in   /etc/diamond/handlers/ and I see, due to some debugging, that the file is loaded. However it is not handling it as a module.

[code]

The config in diamond.conf is as such:

[code]

Is there anything I am missing here? Can someone make a guide on how to a

[2015-07-09 10:11] nickveenhof commented on #220
Just to note, if I do the following:

[code]

it does work, so it seems it is just not picking it up.

[2015-07-10 13:24] shaunduncan opened #221 "Debian package always runs as the 'diamond' user"
I'm not entirely sure if this is a bug or the intended behavior, but I have noticed that the example config file for diamond shows that the run user can be configured: https://github.com/python-diamond/Diamond/blob/master/conf/diamond.conf.example#L12-L14. However, locally I have noticed that the service in /etc/init.d sources /etc/default/diamond, which has the diamond user hardcoded. Is diamond

[2015-07-10 18:47] shaunduncan commented on #221
It looks like at least how the upstart job is configured, it forces `--skip-change-user` which makes the user setting in diamond.conf have no action: https://github.com/python-diamond/Diamond/blob/master/debian/diamond.upstart#L28

[2015-07-13 16:38] josephholsten opened #222 "official apt repo?"
It's super easy to build a deb from diamond, but I imagine most users would be happy just installing from an existing repo.

[Bintray](https://bintray.com/) & [packagecloud](https://packagecloud.io/) both have free hosting for OSS projects. Would anyone object to me adding that to travis and the release process?

[2015-07-17 09:47] maauso opened #225 "Kafka Collector error with urllib2"
Hi,
I try connect kafka collection with kafka 0.8.2.

[2015-07-17 11:44:56,298] [MainThread] ''
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/diamond/collector.py", line 472, in _run
    self.collect()
  File "/usr/share/diamond/collectors/kafkastat/kafkastat.py", line 163, in collect
    match = self.get_mbeans(pattern)
  File "/usr/share/diamond/collectors/kafkastat

[2015-07-17 17:51] ethan-eb opened #227 "Hadoop collector config as list"
Ran into this today ... In my collectors/HadoopCollector.conf I had

[code]

but was not getting any hadoop metrics out. Dug around, manually ran the collector, and guessed that the setting was not being treated as a list in https://github.com/python-diamond/Diamond/blob/master/src/collectors/hadoop/hadoop.py#L46 I tried setting my metrics config to

[code]

and it worked out fine.

I can put toge

[2015-07-18 22:31] mattrobenolt commented on #54
I just did this.

[code]

[2015-07-18 22:31] #54 closed

[2015-07-20 08:18] runejuhl commented on #195
I wouldn't mind seeing version tags on more versions. I just tried out v4.0, (naïvely) assuming it was the latest stable, and ran into a a bug when `classes.py` tries to infer the class name. It's since been fixed (https://github.com/python-diamond/Diamond/pull/47/files#diff-264916192cc0a7d2ccfa0c62630b34e7L66), but I would have loved to not spend a few hours going through an unfamiliar codebase t

[2015-07-20 22:37] ethan-eb opened #230 "Multiple whitelist / blacklist config settings"
The hadoop collector produces a lot of metrics (I'm going to end up using the cassandra collector as well which is a similar case), and I'd like to filter those with metrics_whitelist. However, that setting only accepts a single regex. I don't think that it will be manageable going forward, there will be too many patterns to combine into a single monstrous regex.

I'm interested in adjusting that

[2015-07-27 15:32] ethan-eb opened #234 "HadoopCollector can't use white/black lists"
I found that my whitelist configuration was being ignored for HadoopCollector, in reading the code I see that it uses self.publish_metric() instead of self.publish() at the end of it's collect() routine. In other collectors the publish method is called, which filters the white/black lists and then calls publish_metrics.

It should be possible to switch it to publish() the only complication is the

[2015-07-28 08:26] eMerzh commented on #181
Hi guys, any news in the release process?
i'm waiting for the next release of diamond :)

Twice a month seems fair and really more user friendly than the unreleased-continuously-moving master

[2015-07-30 23:00] ethan-eb commented on #230
One other thing: comparing whitelist / blacklist against the *name* and then setting the path afterwards seems incorrect. Wouldn't you expect to be able to pattern match against the full path?

In any case, changing that behavior seems like it could cause unexpected changes with existing configurations in the wild. I'll submit a pull request, but I haven't decided if I should change that.

Feedbac

[2015-07-30 23:14] ethan-eb commented on #234
One other thing: comparing whitelist / blacklist against the name and then setting the path afterwards seems incorrect. Wouldn't you expect to be able to pattern match against the full path?

It is too limited in the particular case of Hadoop type metrics. You get (for example) a **name** such as *metricssystem.MetricsSystem* ... the path then gets a variety of metrics appended to that *metricssys

[2015-07-31 02:16] superjeb commented on #219
I'm having the same issue.

Is there a fix?

[2015-07-31 02:17] superjeb commented on #219
NotImplementedError
[2015-07-30 22:17:29,256] [MainThread] Collector failed!
Traceback (most recent call last):
  File "/opt/diamond/lib/python2.7/site-packages/diamond/utils/scheduler.py", line 70, in collector_process
    collector._run()
  File "/opt/diamond/lib/python2.7/site-packages/diamond/collector.py", line 472, in _run
    self.collect()
  File "/opt/diamond/lib/python2.7/site-packages/d

[2015-07-31 17:58] bnikolaus opened #239 "ProcessResourceCollector CPU Utilization"
I am seeing  huge spikes in CPU close to 50% in the ProcessResourceCollector for collecting on 1 process. Adding additional processes spikes this to %100 every time it runs.

diamond==4.0.195

enabled = True
cpu_internal= 1
interval = 10
unit=B

[process]
[[navigator]]
exe=^Passenger NodeApp: \/opt\/app\/navigator$
name=^Passenger

[2015-08-04 21:07] cjdaniel opened #241 "Log file permissions are world-writable"
Running Diamond on Debian Wheezy built with the included scripts, log files in /var/log/diamond end up with permissions that are too permissive. Example, after a few days of log rotation:

[code]

As you can see, these files are world-writable. The logging handler being used does not have any options for setting permissions, so it seems the umask set for diamond itself is effective here.

See this

[2015-08-05 00:21] bnikolaus commented on #239
This was a none issue once using the cmdline regex.

[2015-08-05 00:22] #239 closed

[2015-08-13 14:39] wyllys66 opened #248 "cephstats collector fails when no activity is happening"
The cephstats collector expects there to be a line at the end of the "ceph -s" output that looks something like:  "  client io 2233 kB/s rd, 600 op/s"
However, on an idle cluster, the "client io" line is not emitted, which causes the cephstats collector to throw exceptions and fail.  It should be made to handle the absence of the "client io" line more gracefully.

[2015-08-13 17:16] tiadobatima commented on #222
+1000000000

Would love to see diamond in an official repo. It would help adoption considerably.

@liquidgecka has done some work on this already:
- https://github.com/BrightcoveOS/Diamond/issues/187#issuecomment-50942306
- https://launchpad.net/~orchestrate/+archive/ubuntu/standard

[2015-08-13 17:26] liquidgecka commented on #222
I could very easily make this something that the maintainers could push if so desired.. Setting up a launchpad account and group is fairly easy, and pushing new deploys is actually quite easy. If desired I could set a PR with a script that can be run by a maintainer to deploy a release to a ppa.

The script I currently use is here: https://gist.github.com/liquidgecka/c03fb64b1dc309995d2d though fo

[2015-08-14 02:25] ethan-eb opened #250 "Hadoop needs to specify metric_type='GAUGE'"
In revision ce5c6001 in the StatsD handler, the default metric type went from GAUGE to COUNTER. In order for the HadoopCollector to work with StatsD it needs to set it's Metric object to metric_type='GAUGE'.

PR forthcoming ...

[2015-08-14 03:37] ethan-eb commented on #250
Oh I messed up the branching for this and the PR includes all my other changes. I'll fix if there's any interest in this.

[2015-08-15 01:20] ethan-eb opened #251 "Hadoop collector, open read-only if not truncating"
Currently the hadoop collector always opens hadoop metrics files with `'r+'` ... if the settings have `truncate = False` the file should be open `'r'` only to avoid permissions issues under certain circumstances. There is no reason to make the files writeable to the diamond user if not necessary.

[2015-08-19 22:33] aj-jester commented on #84
I've recently come across this bug as well. Any idea for the fix?

[2015-08-20 01:50] jgoldschrafe commented on #84
I've ended up just running Diamond with cgroup confinement on my systems to keep it from taking the whole system down when Graphite backs up.

cgconfig.conf:

    group diamond {
      memory {
        memory.limit_in_bytes = 128M;
      }
    }

I then updated the Upstart config (Ubuntu 14.04) to launch Diamond with:

        exec start-stop-daemon --start --make-pidfile --chuid $DIAMOND_USER --p

[2015-08-20 06:31] rtoma commented on #84
Are we talking about the graphite.py or the graphitepickle.py handler here?

The graphite.py handler has backlog control. If active it logs warnings to the diamond.log, like:
[code]
The graphitepickle.py handler is a subclass of the graphite handler, so it also should emit these warnings.

Anyone with memory issues around that can grep their diamond logging for warnings like this?

[2015-08-20 15:39] aj-jester commented on #84
@rtoma I went through the logs for the past week and I don't see the warning. Does that mean backlog control is not enabled? How can we activate the backlog control? or is there a way we can tune it? I'd rather we lose some metrics than crash the entire node :disappointed:

Thanks.

[2015-08-20 20:16] rtoma commented on #84
@aj-jester That 'took too long' warning may be related. When looking in the sourcecode it seems to mean one or more of your collectors could not finish within the set interval.

How often do you run your collectors? Thats set as "interval = " in your /etc/diamond/diamond.conf or /etc/diamond/collectors/*.conf.

Maybe you run with more collectors than your server can handle? What's the output of "p

[2015-08-20 20:27] aj-jester commented on #84
@rtoma

* the collectors are run every 10 seconds
* there are on average 10 collectors running per node

[code]

[2015-08-20 22:22] justin8 commented on #201
Bump. This should be a quick and easy merge, it's mostly a config change.

[2015-08-21 01:39] aj-jester commented on #84
@rtoma @jgoldschrafe I set virtual memory (address space) ulimit to `512` MB and bumped the polling interval to `30` seconds and I no more see `Took too long to run! Killed!`.

I have 10 collectors running and setting the ulimit to `128` MB crashed diamond.

[2015-08-21 07:17] Investocat commented on #220
handlers_config_path is only handled for config files, you'll want handlers_path under servers to specify the location of the code

[2015-08-21 07:20] Investocat commented on #183
:+1:

[2015-08-21 07:20] Investocat commented on #181
:+1:

[2015-08-21 07:26] Investocat commented on #176
The forking model is one where the indicated memory usage is well over reported. It's a copy on write model so all the processes share the same common memory pages. Having a bunch of sleeping processes in the CPU queue is a lot nicer on the server then having the old single process wake up multiple times a second just to see if it's time to run something. Generically, the memory requirements of th

[2015-08-21 07:27] Investocat commented on #168
Did https://github.com/python-diamond/Diamond/issues/181 address this?

[2015-08-21 14:41] joel-airspring commented on #168
#181 would, but it's not closed, so I'm assuming that the process is not finalized.  It's hard to tell what's going on in #181.  Last comment is a guy saying "Hi guys, any news in the release process? " -- with no response.

I can see that at least one new release has been pushed to pypi since then:  https://pypi.python.org/pypi/diamond/4.0.195

But, again, it's hard to tell what the real release

[2015-08-21 14:41] #168 closed

[2015-08-21 16:12] mattrobenolt commented on #181
Just throwing in my two cents at this point:

I review and accept pull requests randomly, but I have very little time to actually contribute to Diamond. Let alone keep track of changes and publish proper releases.

I can schedule and run the script that cuts a new release and rely on the changelog being git commits, but that's about all I can offer.

Unfortunately, I'm not a fan of blindly doing t

[2015-08-21 19:49] Investocat commented on #84
@aj-jester virtual memory is 'free', it's not really useful to limit it. You should be limiting the max memory size instead and that should allow the collectors to work in a much smaller window.

[2015-08-21 20:05] aj-jester commented on #84
@Investocat Ah gotcha. Which setting in ulimit would you recommend for this?

[2015-08-21 22:20] Investocat commented on #84
max memory size, -m, should be the correct one.

[2015-08-22 01:54] justin8 commented on #181
Would the idea with that be that the collector plugins are pip-intallable seperately and just depend on diamond itself?

[2015-08-22 02:56] mattrobenolt commented on #181
Yeah, and we can manage plugins through the `entry_points` in plugins' `setup.py`.

[2015-08-22 04:14] Investocat commented on #181
What's the blocker for the split? What needs to get done? Can we help out?

[2015-08-22 04:15] mattrobenolt commented on #181
Nothing's really a blocker, just the work needs to be done. I'd be happy to help out.

The only thing that I don't have a clear grasp on is how this would translate to system packaging since Diamond is typically installed from a deb/rpm package.

[2015-08-22 04:32] Investocat commented on #181
There's really just three options:

 * Per collector deb/rpms
 * Pull in collectors via git submodules
 * A mix of the two

I'm all for a rip the bandaid approach and just set it up as per collector packages.

How would we setup unit tests? Would the main diamond travis setup pull down all the collectors and run?

Will handlers also get moved out? They seem like another messy piece that shouldn't

[2015-08-22 04:34] mattrobenolt commented on #181
I'll have to think about it. I don't have all the answers at the moment off the top of my head.

The only thoughts I have are with regard to testing. I assume it'd be easy for us to provide a base "DiamondCollectorTest" class that all collectors would use, then they'd be tested in a similar fashion. A collector is just adhering to an API of the diamond server. So if we just provided a little class

[2015-08-22 07:23] justin8 commented on #181
If you can give some direction, myself and I'm sure some others can help with the actual split. I don't usually do much deb packaging but could help with that. I'm already the maintainer on Arch, so splitting that one out will be easy. Making sure it works correctly via pip as well should be pretty high up on the list, otherwise any other distros like RHEL/Fedora won't have a fun time trying to us

[2015-08-25 11:21] nickveenhof commented on #220
Good to know. We'll give it a try.

[2015-08-27 05:45] aj-jester commented on #84
@Investocat http://stackoverflow.com/questions/3360348/why-ulimit-cant-limit-resident-memory-successfully-and-how

[2015-08-27 08:45] rhunwicks commented on #137
In case anyone else is trying to follow - the PR is #148

[2015-08-30 23:43] jaxxstorm opened #262 "Disk space collector doesn't work on devices with large st_dev"
os.major is casted as an int, so if your device has a magic number above the unsigned maximum, you get this lovely error:

[code]

The problem lies here:

[code]

This is on python 2.7.5, default version on CentOS 7. It's patched in 2.7.9.

We can catch the error with OverflowError: but I think it might be best to rethink how we get the devices numbers..

[2015-08-31 13:00] mzupan commented on #262
Can you paste your /proc/mounts so we can write a test case for this?

[2015-08-31 13:13] jaxxstorm commented on #262
It's an OpenVZ/Virtuozzo guest

[code]

[2015-08-31 15:26] mattrobenolt commented on #262
Does anybody know why we run these values through `os.{major,minor}` in the first place? I don't see anywhere these values get used, except to assert uniqueness in the devices.

`diskspace.py` literally does not use the values except for right here: https://github.com/python-diamond/Diamond/blob/master/src/collectors/diskspace/diskspace.py#L159-L166

And reason we can't just use the `stat.st_dev`

[2015-08-31 15:29] jaxxstorm commented on #262
This is essentially what I thought, and I patched it locally in this way. I figured there must be a reason I wasn't aware of.

I can submit a PR soonish which fixes this, if you're happy enough with it?

[2015-08-31 15:38] mattrobenolt commented on #262
I can easily change that behavior, but no idea what the reason for that is.

This has existed since the beginning of time: https://github.com/python-diamond/Diamond/blob/f7c0bd3e23cea5be29e112259a5e0fcbd62fb655/src/collectors/diskspace/diskspace.py

Was looking for a commit that added it to see what the issue was that triggered needing it. :(

[2015-08-31 15:46] mattrobenolt commented on #262
Ok, tracing all the way back through history, we get to: https://github.com/python-diamond/Diamond/commit/2b3c54a2e6c802dc18b083c12f6ac70a0783e0a6

Which is the initial commit. Since then, this behavior has existed. :) I'll do some investigation.

[2015-09-01 17:32] numkem opened #265 "SNMP v3 support"
Hello,

I read through the code and it seems like v3 support for the SNMP collectors is not supported.

Is this something that is planned?

Thanks!

[2015-09-02 10:14] Slach opened #266 "collector_path in diamond.conf not working in current master"
after install latest master
diamond.log filled by

<pre>
[2015-09-02 10:06:46,978] [MainThread] Can not find collector VMStatCollector
[2015-09-02 10:06:46,978] [MainThread] Can not find collector RedisCollector
[2015-09-02 10:06:46,979] [MainThread] Can not find collector NetworkCollector
[2015-09-02 10:06:46,979] [MainThread] Can not find collector PostgresqlCollector
[2015-09-02 10:06:46,979] [

[2015-09-02 12:24] szop85 commented on #266
Same here:

[2015-09-02 12:19:31,688] [MainThread] Can not find collector LoadAverageCollector
[2015-09-02 12:19:31,688] [MainThread] Can not find collector DiskSpaceCollector
[2015-09-02 12:19:31,688] [MainThread] Can not find collector DiskUsageCollector
[2015-09-02 12:19:32,691] [MainThread] Can not find collector VMStatCollector
[2015-09-02 12:19:32,691] [MainThread] Can not find collector CPU

[2015-09-02 15:28] mattrobenolt commented on #266
Crap. Lemme review and make sure #267 is the correct fix. Thanks for pointing this out!

[2015-09-03 13:55] justyns commented on #266
I ran into the same issue, and #267 appears to work for me as well (so far at least).

[2015-09-04 19:07] nhooey opened #269 "Print a better error message than: "Error occurs when initialize logging""
The error message doesn't really tell the user what's wrong with the Diamond config file.

I got this error:

[code]

But if you print a stacktrace and the full exception type, you get:

[code]

which is slightly more helpful.

More verbose parsing errors would help even more.

[2015-09-07 17:27] dvarrazzo opened #271 "Postgres password required in diamond config file"
The postgres collector has a `postgres` default string for the password connection. This basically forces to override the password by writing it in clear text in the `diamond.conf` file or to use a weak auth mode such as  `trust` in `pg_hba.conf`.

There should be a way to not pass a password to the psycopg2 `connect()` function so that the password can be specified in the `.pgpass` file.

[2015-09-08 21:39] nhooey opened #274 "Diamond does not set groups properly when changing uid and gid"
According to [Python issue 10032](http://bugs.python.org/issue10032), setting the `uid` and `gid` is not enough to simulate logging in as that user. The `os.initgroups()` function needs to be used to initialize the groups of the user being changed to, like this:

[code]

If this is not done, Diamond can't invoke actions on files when it changes to a user that only has group permissions for those f

[2015-09-08 21:45] nhooey commented on #274
This is fixed by #275.

[2015-09-10 09:14] gbjtv opened #276 "HttpdCollector + ssl support"
Can we get ssl support for HttpdCollector?

[2015-09-10 16:15] mattrobenolt commented on #276
Yeah, I think this is more than reasonable.

[2015-09-20 13:04] zzl0 commented on #115
@sacharv I have encountered this bug too.
I found many collectors didn't specify the `precision` parameter (it's default value is 0), and when use `GraphiteHandler` to send metric, the `precision` will cause this bug.
[code]

There are many ways to fix this bug:
1. Change the default value of `precision` (e.g. `precision=3`)
2. Compute the `precision` dynamically according to the value of metric.

[2015-09-21 19:00] prune998 opened #278 "upgrade InfluxDB handler to support 0.9x - Request for comment"
Hi,

InfluxDB reached 0.9.x release with a massive API and organization change.
It's time to re-write the handler.

Previously, influx was storing metrics like graphite, describing the content using chunks. ex :  servers.myhost.cpu.user.time = 0.2

When searching, a regexp was used to split every parts. This wasn't really effective in influxdb.

InfluxDB 0.9 is using tags to give informations on t

[2015-09-21 19:10] mattrobenolt commented on #278
fwiw, this concept is similarly needed to support datadog better as well.

[2015-09-22 06:28] tkirill opened #279 "Time in queue for RabbitMQ collector"
Hi!  Could you tell please is it possible to report time a message spent in queue?  That is time between publish and ack?

[2015-09-22 12:29] prune998 commented on #278
I'm reading some collector's code right now.
The base PATH (which is generated by diamond itself) is easy to cut in to chunks.
The next key is the collector (ex : cpu, elasticsearch).
All this could happen in the Influxdb Handler, without touching anything.

For the detailed metrics, then, I see two options :
- change every collector to send a dict associated with the metric when calling the self.

[2015-09-23 15:45] mfox-socialware opened #282 "ElbCollector causes StatsdHandler to fail"
When using the ElbCollector in conjunction with the StatsdHandler a failure occurs that causes StatsdHandler to stop emitting metrics for all collectors. This message is logged:

Upon inspection of stats_d.py, it attempts to calculate a delta for non-gauge values so that it can send a counter (lines 125-136). The relative code is lines 127-130:

[code]

The TypeError we see in the log is related t

[2015-09-23 16:25] mfox-socialware commented on #282
Also, in testing stats_d.py, I believe the lines in question that calculate delta to be a logical error. Calculating a delta is actually behavior one would expect from a gauge, not from a counter. As we do not know when the flush interval of StatsD is, calculating the delta can cause negative values and other inaccuracies. I believe this code would work as desired if the delta calculations were re

[2015-09-24 11:06] eserte opened #283 "reload is killing the diamond process"
Doing `/etc/init.d/diamond reload` would kill the diamond process. It seems that SIGHUP is not handled within diamond. So probably it's best to remove the "reload" action from the debian init script.

[2015-09-24 14:51] analogue commented on #282
It has been a while since I've touched anything ELB related, but can you confirm that the stats from cloudwatch for the existing COUNTER metrics are actually increasing counts?  If they are, changing them to GAUGE doesn't sound like the way to go.

If the root cause is that `raw_value` not having a value causes a fault in the StatsDHandler, I agree that finding out what `raw_value` should be is wo

[2015-09-24 14:54] mfox-socialware commented on #282
The stats from cloudwatch are not an increasing count, they are the sum of all events in the time period you request for. In my testing, when set to a gauge, the stats emitted match what is seen in the CloudWatch console.

[2015-09-24 14:55] analogue commented on #282
Awesome! I'll take a look at the referenced PR.

[2015-09-28 09:50] lerovitch opened #291 "create RealFree in the memory collector"
Hi,

I would like to see if it has sense to create the metric RealFree as proposed by @Henner in https://github.com/BrightcoveOS/Diamond/issues/353

In our team we setup a Diamond-Graphite-Seyren pipeline, and we need the MemFree error alert, but it is not reliable right now.

I am happy to submit a Merge Request if you find it interesting

[2015-09-28 15:09] jaingaurav commented on #291
So I kind of like how the collector only publishes metrics present in `/proc/meminfo`. You should be able to make a Seyren alert that uses a graphite function to compute the RealFree

[2015-09-29 07:03] lerovitch commented on #291
thanks for the comment,

I had tried to calculate it at seyren with no luck, but it seems it was possible.

cheers!

[2015-09-29 07:03] #291 closed

[2015-09-30 12:58] jindov opened #292 "Add multi uri to php-fpm collector"
Hi all,

I have 3 pools for 3 different sites
pool1 for site1.com with uri status /fpm-status-site1
poo2 for site2.com with uri status /fpm-status-site2
pool3 for site3.com with uri status /fpm-status-site3

I need to monitor all of them but diamond cannot add multi uri to phpfpmcollector.conf so someone has a solution for this issue?Thank you

[2015-10-06 21:03] tomplus opened #295 "Missing FileageCollector"
Hi

Could you move collector 'FileageCollector' from BrightcoveOS/Diamond ?

Thanks,
Tom

[2015-10-08 15:10] jaingaurav commented on #266
The fix has been committed as a partial merge of PR #267. Thanks for catching and reporting this.

[2015-10-08 15:10] #266 closed

[2015-10-11 15:39] jaykumar2001 commented on #219
+1

[2015-10-12 12:37] linsomniac opened #297 "Current release "has problems"."
I had heard good things about Diamond, and I'm not that happy with collectd, so I thought I'd give it a look.

First problem, there are absolutely no docs.  No problem I thought, I'll write a GettingStarted and submit a pullreq for it.  Except that I could never get started myself.

I notice there is a "debian" subdirectory, so I try a debuild, and find that the 4.0 release produces a debian file

[2015-10-12 14:24] jaingaurav commented on #297
Thanks for your comments and for your comments and for attempting to help with some of the issues. Regarding the release packaging process, we currently recommend that people use pip and specify HEAD or a commit version as necessary. This results in a version number that reflects the commit that was used. The rpm/Debian packaging needs some love to get up to par, so we would greatly appreciate the

[2015-10-12 14:31] alde opened #298 "MesosCollector not loading properly"
Due to the mesos.py conflicting with the mesos python library, the mesos-collector doesn't work as expected.

Workaround: rename mesos.py to meso.py

I found it when I kept getting
`1444659840.74   [MainProcess:27359:ERROR]       Can not find collector MesosCollector`

After adding some debug printing of what was actually being loaded, I saw
`<module 'mesos' (built-in)>`
and not
`<module 'mesos' f

[2015-10-12 14:47] keis commented on #298
using (imp)[https://docs.python.org/2/library/imp.html] rather than `__import__` should avoid this issue

[2015-10-12 15:32] mattrobenolt commented on #298
To be fair, we should really just be using `from __future__ import absolute_import` everywhere to avoid this issue.

[2015-10-12 21:25] linsomniac commented on #297
Thanks for the pointers, I totally missed the link to the Wiki in the README.  I've made a PR that adds a specific Getting Started section to make these things more clear.  I also in that mention that the Releases is not the preferred way to grab stable code.

I've built up a package using that tagging via "pypi-install" to make Debian packages.

The issue I'm having with the InfluxdbHandler is wi

[2015-10-14 17:03] shoggeh opened #304 "please add more per-node metrics to ElasticSearchCollector"
Hi,

I believe this collector would benefit a lot from adding some more per-node metrics.
Would it be possible to add some of them under instance section?

i.e.from _nodes/_local/stats:

indices.indexing.index_total
indices.indexing.index_time_in_millis
indices.search.index_total
indices.search.index_time_in_millis
store.size_in_bytes
store.throttle_time_in_millis

You're already gathering them pe

[2015-10-15 17:15] GregMeno opened #306 "when running tests with mock==1.3.0 some fail with AttributeError assert_called_once"
Looks like assert_called_once got removed in mock==1.1.0
It does work in mock==1.0.1
I recommend converting the tests to use assert_called_once_with

[code]

[2015-10-15 20:21] GregMeno commented on #306
I read the mock source and it seems there was never an assert_called_once.

using mock==1.0.1
I show with this patch that we were letting mock fool us:
https://github.com/python-diamond/Diamond/commit/35055076f67cf78be8a5769fa1c2f9a5cc9142fe

produces this failure:
[code]

[2015-10-16 23:31] jrpaz commented on #219
+2 also

[2015-10-17 13:44] jrpaz commented on #297
Does this affect usered who followed the wiki for installation on Ubuntu setups?

[2015-10-17 13:50] jrpaz opened #309 "New Install Ubuntu 14.04 Issues with SNMPRawCollector & SNMPInterfaceCollector"
I am seeing this issue with SNMPRawCollector & SNMPInterfaceCollector.

I am running on Ubuntu 14.04 LTS and followed the Wiki instalation procedures.
Pysnmp is installed with the requried dependencies.

CPUCollector,DiskSpaceCollector,DiskUsageCollector,LoadAverageCollector,MemoryCollector,VMStatCollector & NetworkCollector are working without issue so I am thinking it's something Pysnmp or somet

[2015-10-19 12:51] prune998 commented on #278
It's sad almost no-one have interrest for that.
My thinking is that i'm going to switch from Diamond to Telegraf, the tool from Influxdb guys, and use Kafka as a queue.

[2015-10-19 15:30] jaingaurav commented on #278
@prune998: I don't think there is a lack of interest, just resources. If you are able to dedicate some time to work on this, I'm sure we'd welcome such a change

[2015-10-19 15:38] prune998 commented on #278
@jaingaurav it's a BIG change in how Diamond work, and I won't be able to do it on my own. To do it correctly, Diamond will require some massive rewrite that may involve other handlers too.
I see this as a good improvement, and it may benefit other handlers like Datadog (not only Influxdb). But it have a cost...

[2015-10-22 08:06] frlinux commented on #219
+3

[2015-10-22 18:10] bmfurtado commented on #219
I've created this pull request with an initial version of what could fix this... needs feedback and testing! https://github.com/python-diamond/Diamond/pull/310

[2015-10-22 18:11] bmfurtado commented on #309
Seems like the same reported on #219

[2015-10-22 18:15] jrpaz commented on #309
It is I think we should merge them

[2015-10-23 03:19] musskopf commented on #297
Same issue over here. Installed it on RHEL 6 and a fresh Python 2.7 using:

pip install diamond

Here the versions from pip list:
diamond (4.0.195)
influxdb (2.9.2)

But apparently is because I'm running influxDB 0.9. There are some comments about that here:

https://github.com/python-diamond/Diamond/issues/217

[2015-10-23 15:45] linsomniac commented on #297
FYI: I was running InfluxDB 0.9 as well.

[2015-10-23 19:29] AnanthRavi commented on #176
Does it make a difference if I run diamond with a different version of Python? Like is it better if I run it with python 3.3 vs 2.7 vs 2.6?

[2015-10-24 21:18] bluecamel commented on #297
I also have this on Ubuntu 14.04, following the wiki for installing on Ubuntu.  Also InfluxDB 0.9.

[2015-10-24 23:52] bluecamel commented on #297
Okay, the problem is that the handler is written to use a very old version of influxdb-python (I believe for influxdb 0.8).  I've "fixed" it locally by converting the batch to the correct format for the client, but I'm not familiar enough with influxdb to know how I should convert the path into a metric name and tags.  I played with it a bit, but I'm truly a noob with both influxdb and grafana (I'

[2015-10-25 06:06] bluecamel commented on #297
I went ahead and submitted a pull request: https://github.com/python-diamond/Diamond/pull/312

[2015-10-25 21:28] musskopf commented on #297
This one seems to be working:
https://github.com/Clever/Diamond/blob/726e8cc8b4cf8d6de77d463155cab87bf1f4ffee/src/diamond/handler/influxdbHandler.py

As a quick fix just download it and replace the current one. Don't forget to update the handle config to include version. Hopefully it'll be merged back to be part of the next release.

Cheers!

[2015-10-26 01:10] bluecamel commented on #297
musskopf, that works for you with InfluxDB 0.9?  Doesn't work for me since it's still trying to send in the wrong format.

[2015-10-26 01:13] musskopf commented on #297
Yes, it works... have you updated your handles configuration? If the version is not defined it'll default to 0.8. The configuration example is on the comment at the top of the file.

[2015-10-26 15:40] jkielbaey opened #313 "1 handler slow can lead to delayed collection of metrics"
Hi,

Our diamond agents are configured with on average 15 collectors. Depending on the environment of the server, they collect and publish every 60 seconds or 5 minutes. We use 2 handlers: `GraphiteHandler` and `ArchiveHandler`. The `ArchiveHandler` keeps its data for only few days and is used as a backup in case something is wrong with our graphite server, so we can resubmit the missing datapoint

[2015-10-27 00:20] bluecamel commented on #297
Oh, I see now.  That repo has another handler that does very similar to my PR: https://github.com/Clever/Diamond/blob/726e8cc8b4cf8d6de77d463155cab87bf1f4ffee/src/diamond/handler/influxdb9Handler.py

Is python-diamond not accepting PRs and so folks are just maintaining forks?

[2015-10-27 23:23] thiagozs opened #315 "MongoDBCollector auth issue pymongo 3.0.3"
Hello guys.
I'm in trouble to authenticate with mongodb 3.0.5 with username and password to login.

Follow the logs.

Thanks.

mongo client.

ubuntu@mongo-production:/etc/diamond/collectors$ mongo
MongoDB shell version: 3.0.5
connecting to: test

---

cat /etc/diamond/collectors/MongoDBCollector.conf
enabled = True
host = localhost:27017
passwd = xxx
user = fgUserOld

---

tail -f /var/log/diamond

[2015-10-28 15:11] loood opened #316 "SyncManager memory leak"
We're running diamond with custom collectors for haproxy and are starting to see the syncmanager process leak memory. It'll continue to leak memory until 100% of memory. Can collectors cause syncmanager to leak memory or ?

[code]

[2015-10-29 19:54] meganuke19 opened #317 "Do you plan add prometheus handler?"
Hello.
Do you plan add prometheus handler? Maybe extend riemann handler for support prometheus and rename to protobuf handler?

[2015-11-04 17:25] themalkolm commented on #194
The problem is handlers are created and then passed to the server process. Every handler has logger & lock objects and it is impossible to pickle these guys. The solution is to move handlers creation to the server process and pass around log_level instead of the actual log file.

[2015-11-04 19:07] docwhat commented on #194
Thanks for explaining that. That makes sense.

[2015-11-04 19:15] themalkolm commented on #194
It is quite easy to fix this. Maybe will make a patch later.

[2015-11-04 19:19] themalkolm commented on #283
It does handle SIGHUP.

[2015-11-05 10:41] eserte commented on #283
At least it was not handled in diamond 3.4.32:
[code]
Was this fixed in the meanwhile? Maybe in commit 5e3a96bd?

[2015-11-05 21:19] themalkolm commented on #283
Looks like.

[2015-11-09 19:22] davidballano commented on #194
Hi Guys, I have ran into the same problem trying to get diamond working on Windows, unfortunately  this is also beyond my knowledge, thanks for taking a look.

[2015-11-15 11:26] astlock commented on #297
The same problem on CentOS6.5, diamond-3.5.8, influxdb-2.10.0. Python-2.6.6, InfluxDB-0.9.4.2.
[code]

[2015-11-15 18:11] jaingaurav commented on #297
@bluecamel Just commented on your PR. With your changes we can hopefully merge it in.

Sorry, about the slow response to PRs. Seems a lot of the maintainers are quite tied up these days. Feel free to poke us either on github or IRC if you're not getting a response fast enough.

[2015-11-16 10:36] jotes opened #323 "Diamond can't be installed via Ansible's pip module"
Hi,
For purposes of my deployment i had to create an automation script in ansible.
Diamond has been installed via following task:

[code]

I've noticed following error after deploy:
All config files, collectors etc. were installed in strange path: /tmp/src/diamond/src
instead of /etc/diamond,/usr/local/share/diamond etc.
However, if i'll install diamond by hand - everything is all right, files are

[2015-11-16 18:34] jaingaurav commented on #323
So I'm not to familiar with what exactly is going on, but I've personally not had a lot of luck with the ansible pip module. As a result I typically use the command module like so:

  - name: Install Diamond
    command: pip install --upgrade git+git://github.com/python-diamond/Diamond.git@HEAD

[2015-11-19 22:17] jaingaurav commented on #274
PR has been merged, thanks

[2015-11-19 22:17] #274 closed

[2015-11-24 09:13] pwilczynskiclearcode opened #328 "CloudWatch handler InstanceID dimension to be configurable."
CloudWatch doesn't allow to set an alarm based on a custom metric with dimension. Actually it does but only per instance so I need to create a separate alarm for each instance.
Optimally `cloudwatchHandler` could have a configuration allowing to specify which metric should be sent with `InstanceID` dimension, without, or both with and without. The latter option will give the possibility to both se

[2015-11-24 19:35] #283 closed

[2015-11-25 04:18] jraby commented on #316
What output handlers are you using and are you seeing data in all of them?
I was tracking a memory usage issue tonight and found the culprit to be an output handler that couldn't dump its data fast enough.

[2015-11-25 04:44] jraby opened #329 "unbounded metric_queue can lead to memory exhaustion"
I was tracking down a memory usage issue with the `SyncManager` process tonight.
After a good look at the code, it seems like under the right circumstances  `SyncManager` can eat up all available memory.

The root of the issue is that the `metric_queue`, that is shared by all collectors, is unbounded.
If, for whatever reason,  the handlers are not popping stuff fast enough from that queue, the `Sy

[2015-11-25 06:57] jaingaurav commented on #329
So PR #256 might be what you are looking for. I think it's largely ready and just needs a config variable. Given the multiple requests for this, I think I might just merge it and add the config myself.

[2015-11-25 09:11] loood commented on #316
Only have graphitehandler. I ended up rewriting the collector which seem to stop the memory leak.

[2015-11-25 17:41] jraby commented on #329
haha I should have looked longer at the PRs before hunting this down...

#256 is a bigger change than what I [tested] but please do merge it if it works :)

[tested]: https://github.com/datacratic/Diamond/compare/datacratic...datacratic:bounded_metrics_queue

[2015-11-26 03:26] #84 closed

[2015-11-26 03:54] jaingaurav commented on #313
@jkielbaey What version of diamond are you running? Isn't the problem that the handler is blocking the collectors? This should really be split out into different threads

[2015-11-26 07:22] jaingaurav commented on #271
@dvarrazzo seems like a reasonable suggestion. Any chance you'd be able to provide a PR? Otherwise you might get luck pining some of the dev who have worked on that collector.

[2015-11-26 07:23] jaingaurav commented on #317
I don't think anyone is planning that at the moment. You are welcome to give it a shot.

[2015-11-26 07:45] jaingaurav commented on #222
@liquidgecka I think there is a strong desire for this along with regular pip releases. If you can help get some of the frameworks/scripts in place it would be much appreciated.

[2015-11-26 07:46] jaingaurav commented on #304
Seems like a reasonable request

[2015-11-26 07:47] jaingaurav commented on #329
PR #256 has been merged

[2015-11-26 07:47] #329 closed

[2015-11-26 07:48] jaingaurav commented on #241
PR #242 was merged

[2015-11-26 07:48] #241 closed

[2015-11-27 19:03] liquidgecka commented on #222
So if the intention is to use ubuntu ppa system then this becomes _really_ easy.. It could be easily scripted and added to Travis.

1) I just requested ownership of the 'diamond' team in ubuntu launchpad (its been abandoned since 2011), but if taking over that name is not possible we would just need to pick a team name and add a few members/maintainers.
2) The next step would be to add debian pack

[2015-11-27 19:30] jaingaurav commented on #222
Yes I have a launchpad account with id 'gaurav'

Where is the old diamond team in ubuntu? Maybe we can ping some of the people. If you have any issues, you could just use 'python-diamond', probably less confusing than a generic 'diamond'

Thanks for you help here, I know nothing about ppa

[2015-11-27 19:33] liquidgecka commented on #222
I already tried contacting them.. we will have to wait and see if they respond. Otherwise I created a python-diamond team and added you as an administrator.

[2015-11-27 20:14] jaingaurav commented on #222
Yeah let's stick with python-diamond for the team name to keep consistency with github. If we get ownership of the legacy team we can simply delete it.

[2015-12-03 12:45] bmhatfield commented on #271
Fixed by #332

[2015-12-03 12:45] #271 closed

[2015-12-03 13:40] withnale opened #337 "New release?"
Last version was 0.4 a year ago.

Any chance of getting a newer tagged stable version?

[2015-12-03 15:49] bmhatfield commented on #1
Thanks for filing this issue. Due to it's age and inactivity, I am going to close it out. Feel free to submit a PR with proposed changes for further discussion :-)

[2015-12-03 15:49] #1 closed

[2015-12-04 15:43] jaingaurav commented on #337
We are going to start a qualification cycle soon, but in the mean time you can install via pip and git

[2015-12-09 05:36] liquidgecka commented on #222
Sorry, this is taking longer than expected (my wife and I just had a baby so things have gotten chaotic..). I am still working on it though. One thing that will make this easier: is there an official "release" script/process? Debian packaging uses a stupid system for change log management that requires things to be committed to the repo in most cases. I wanted to script this out so it would be aut

[2015-12-09 05:37] liquidgecka commented on #222
Sorry, this is taking longer than expected (my wife and I just had a baby so things have gotten chaotic..). I am still working on it though. One thing that will make this easier: is there an official "release" script/process? Debian packaging uses a stupid system for change log management that requires things to be committed to the repo in most cases. I wanted to script this out so it would be aut

[2015-12-09 05:53] liquidgecka commented on #222
Sorry, this is taking longer than expected (my wife and I just had a baby so things have gotten chaotic..). I am still working on it though. One thing that will make this easier: is there an official "release" script/process? Debian packaging uses a stupid system for change log management that requires things to be committed to the repo in most cases. I wanted to script this out so it would be aut

[2015-12-09 15:52] jaingaurav commented on #222
Congratulations and thanks for all your help!

I'm not too sure about the official release process, however the version number is based on the number of commits since the 4.0 release. I'd like to get out a new release in the next month or so so hopefully we'll figure out the kinks while doing that.

[2015-12-11 07:48] jindov opened #343 "elasticsearch collector error when running with elasticsearch 2.1"
It occur when I start es collector with es 2.1:

[code]

I checked this collector with this "diamond-setup -C ElasticSearchCollector -p"
Collector not found.

eventhough I set enabled = True in conf

[2015-12-11 15:56] jkielbaey commented on #313
The version we're using was downloaded from the master branch in September 2015. I don't have a particular commit id.
After further analysis of the diamond code, I came to the same conclusion. Splitting the handlers over separate threads and using thread-safe queues would really break the link between collectors and handlers. I guess this would require quiet some code changes on the `Handler` clas

[2015-12-12 16:16] bakerkj commented on #219
I was having this same issue.  Pulling the change above seems to address it.

Thanks

[2015-12-12 16:47] bakerkj opened #347 "Precision"
I've just started using python-diamond.  I've noticed that some of the collectors work poorly because the precision published is defaulted to 0.

ping:
In order for sub-millisecond ping times to not round to zero I tried setting the precision to 4 in PingCollector.  This was mzupan fixed this in https://github.com/python-diamond/Diamond/pull/109.

postfix:
For low load mail servers, the derivative

[2015-12-13 03:53] jaingaurav commented on #347
Thanks for the feedback @bakerkj. What do you think are the next steps? Would you like to submit a PR with these changes. These changes seem quite reasonable to me.

[2015-12-14 23:04] bakerkj commented on #347
@jaingaurav sure... I'll have a look at putting a PR together.

[2015-12-15 20:09] MichaelDoyle commented on #343
@jindov I think if you pull down the latest, you'll be OK. The following commit should resolve your issue:

https://github.com/python-diamond/Diamond/commit/52f185ef43ad4047f66e803e8572759bf3e81f9e

[2015-12-15 20:19] bmhatfield commented on #343
We're using recent diamond master in production with ES2.1, and as @MichaelDoyle says, things are working fine. Time to upgrade!

[2015-12-15 20:19] #343 closed

[2015-12-17 07:53] lihaijing opened #351 "GraphiteHandler connection error"
in diamond.conf, part configuration are as follows:

[[GraphiteHandler]]

host = graphite

port = 2003

timeout = 15

batch = 1

[[GraphitePickleHandler]]

host = graphite

port = 2004

timeout = 15

But there are connection error:
[2015-12-17 15:48:49,934] [Thread-3] GraphiteHandler: Failed to connect to graphite:2003. [Errno -3] Temporary failure in name resolution.
[2015-12-17 15:48:49,934] [Th

[2015-12-17 09:24] jaingaurav commented on #351
From the logs it looks like a graphite/networking issue. Are you sure you're able to access the carbon-cache from the host? maybe you can use `nc 10.95.2.71 2003` to verify.

[2015-12-18 20:51] rainbowdoorpost opened #352 "Memory leak after queue bounding"
Hello,

I'm using Diamond in a kubernetes cluster with [custom docker stats collector](https://github.com/lesaux/diamond-DockerContainerCollector) by @lesaux. The [original docker image](https://hub.docker.com/r/lesaux/diamond-containercollector/) with this collector was running fine but it was 4 months old, so I've decided to update Diamond and build the image myself. After a while of using it, I

[2015-12-21 07:05] hrchu opened #355 "Cannot run a given collector once and exit"
Hi,
I follow the instruction [here](http://diamond.readthedocs.org/en/latest/Getting-Started/Custom-Collectors/)

When I fire diamond -f -l -r full/path/to/ExampleCollector.py, ExampleCollector does not executed. Anything do I missed?

[2015-12-21 23:40] tantra35 opened #356 "diamond multiprocessing inherit signal handler"
if we have collertor, that will be removed later and make diamond reload(send sigHUP), diamond will remove it pid file

Situation is identical like described here:

https://vimmaniac.com/blog/codejunkie/safe-use-of-unix-signals-with-multiprocessing-module-in-python/

In exception that we must set

[code]

[2015-12-21 23:44] tantra35 opened #357 "diamond must lock it pidfile like daemonize does"
If we look at daemonize module https://github.com/thesharp/daemonize, we see that it lock pid file throw
fcntl.flock(lockfile, fcntl.LOCK_EX | fcntl.LOCK_NB), so pid file managment must look like this:

[code]

[2015-12-23 16:23] klank4135 opened #361 "Unable to Disable DEBUG Log on Diamond"
The only way I've found to actually disable (verbose) logging, diamond.conf

[server]
change this
handlers = diamond.handler.graphite.GraphiteHandler, diamond.handler.archive.ArchiveHandler
to that
handlers = diamond.handler.graphite.GraphiteHandler

A possible way to logging is: log WARN+ERROR for system level diamond process things "WARNING: could not load extra python module libsomething", and

[2015-12-30 03:34] #150 closed

[2016-01-06 20:11] steenzout opened #365 "version tag"
I just checked pypi.python.org and the latest version there is `v4.0.195`.
I check here in github and the latest tag is `v4.0`.

is there a way for me to know what version tag corresponds to a git commit hash?

[2016-01-07 00:15] steenzout opened #367 "mysql collector precision is 0"
from https://github.com/BrightcoveOS/Diamond/pull/813

@scouras wrote:
[code]

after reading the code this is due to the fact that the `precision` keyword argument is not even set.

I can a PR that will add a new config parameter `precision` for this collector.
In the absence of this parameter, the default value will be `0` (as today).
will that work?

[2016-01-07 17:18] steenzout opened #368 "unit test for CPUCollector cpu_counts metric"

[2016-01-07 17:18] #368 closed

[2016-01-07 17:18] steenzout commented on #368
can't assign to myself...

[2016-01-14 18:29] liquidgecka commented on #222
Okay so new baby and a work trip have managed to kick my butt pretty effectively. =)

So how about this.. Is it possible to add a script to the release process that prepends some lines into debian/changelog and then commits that? If we can do that then I can easily setup travis to build every time that file changes (which is kind of the debain 'way') and if its included in the release script then

[2016-01-19 19:19] mclueppers opened #374 "RPM build for CentOS 6 fails"
Hi,

trying to make an RPM from latest master branch (4.0.370) is failing on CentOS 6 with an error stating it's unable to find rpm/systemd/diamond.service. Adding it to MANIFESTS.in seems to fix the issue.

[2016-01-21 18:23] mclueppers commented on #374
This has been pulled in master. Issue can be closed

[2016-01-21 18:23] #374 closed

[2016-01-28 16:50] meganuke19 opened #384 "Prometheus handler"
Hello.
Do you plan add prometheus handler?

[2016-01-28 22:43] mrh666 opened #385 "Unhandled exception: [Errno -2] Name or service not known"
Hi there,

I can't start diamond on CentOS 7.0.1406
Python 2.7.5

[code]

[code]

[code]

Any idea how can I fix it please?

[2016-02-01 18:08] zhuyifei1999 opened #387 "Load averages do not contain scaled versions"
Right now the [load averages are non-scaled](https://github.com/BrightcoveOS/Diamond/wiki/collectors-LoadAverageCollector), which, unless the number of cores is known, is meaningless, as one cannot conclude if a node is "overloaded" without scaled data.

[2016-02-06 06:02] JasonJanelle opened #388 "Solr Collector breaks using solr 5.4.0 cloud."
Not sure if this has been tested with solr cloud / solr 5.4.0 but I'm getting this in my diamond.log and no stats.

[2016-02-06 05:52:38,532] [MainThread] Collector failed!
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/diamond/utils/scheduler.py", line 70, in collector_process
    collector._run()
  File "/usr/lib/python2.7/dist-packages/diamond/collector.py", line 47

[2016-02-08 19:41] JasonJanelle commented on #388
I'm happy to provide more detail on our setup if that is needed.

[2016-02-09 08:24] brijesh27 commented on #388
Hi Jason ,

I was having the same problem , its fix by below thing so Please try this :

https://github.com/piontas/Diamond/commit/f5c8ddd589627a9ef21014c6161f9f3fb6c94bcb

[2016-02-11 17:53] nhooey commented on #337
Can we expect a release soon?

[2016-02-11 17:57] josegonzalez commented on #337
If someone wants to go through and make some release notes, I'd be happy to do the pip release, @nhooey :)

[2016-02-12 09:09] HazCod opened #392 "Documentation not available"
http://diamond.readthedocs.org/

[2016-02-12 21:46] jaingaurav commented on #392
Looking right now. Don't know what happened with readthedocs

[2016-02-12 22:40] jaingaurav commented on #392
Filed https://github.com/rtfd/readthedocs.org/issues/1992

[2016-02-12 23:23] jaingaurav commented on #392
Fixed, problem caused due to a bump to mkdocs

[2016-02-12 23:23] #392 closed

[2016-02-15 13:50] sandrotosi opened #396 "diamond is not py3k ready"
python3 setup.py build  works fine but then running the result:

[code]

this is likely just the tip of the iceberg, and there is more work to do to make diamond really py3k ready

[2016-02-15 14:01] Slach opened #397 "debian package build failed after README.md was symlinked to docs/index.md"
commit
https://github.com/python-diamond/Diamond/commit/3bca73cf2323c44f319c577bd418b87c797f6cfe

broke debian build

steps to reproduce
<pre>
mkdir -p -v /opt/diamond
git checkout https://github.com/python-diamond/Diamond.git /opt/diamond
cd /opt/diamond/
rm -fv /opt/diamond/build/*.deb
make deb
</pre>

Errror returned
<pre>
copying LICENSE -> /opt/diamond/build/diamond-4.0.380/debian/diamond/usr

[2016-02-15 16:51] mattrobenolt commented on #396
I can say there's almost 0 chance this will happen and almost 0 value for the project. iirc, Diamond also supports down to 2.5, so I think it's almost impossible to support from 2.5 all the way through 3.5 since there are some fundamental syntax changes.

I could be wrong here, but I just don't see the value in Diamond needing to run in python3 either. It's not a library, so it should be self cont

[2016-02-15 16:52] sandrotosi opened #399 "setup.py: now debian supports systemd"
Hello,
in setup.py there is logic to install the systemd service only on rpm-based systems, but now debian supports systemd (it is the default init system in Jessie onwards), so we should change that.

thanks

[2016-02-15 16:59] sandrotosi commented on #396
python 2.5/2.6 are dead, so keeping their compatibility (and doing so preventing "progress") seems the wrong way for a python project.

other than then usual boilerplate of the advantage of py3k,  it is anyway the future of the language and a huge amount of work has been done to allow developers to write code that could be executed -without any change- both in 2.7 and 3.3+

There might be also peo

[2016-02-15 19:25] jaingaurav commented on #396
@sandrotosi: So I think support python 3 is important due to environments like Arch (and I think the latest Ubuntu as well). However transitioning to python3 is a significant undertaking beyond the core codebase. We need to ensure that collectors and their dependent libraries are python3 compatible, at least for the collectors that are regularly supported.

In the end, the real argument is time. M

[2016-02-16 08:44] sandrotosi commented on #396
@jaingaurav hehe i didnt mean "migrate it to py3k tomorrow" it's just something to keep in mind; during the last months/year I saw a huge number of project dropping support for 2.5/2.6 and 3.1/3.2 in favor of 2.7 and 3.3+ as they allow to have basically teh same code running on py2 and py3k.

so whenever some code is added or changed, you can think about this, instead of doing a mass transition, w

[2016-02-16 10:50] sandrotosi opened #400 "uniform collectors file permissions"
here is a summary of the permissions of the collector python files:

[code]

it might make sense to make them all 644, in particular src/collectors/elasticsearch/elasticsearch.py and src/collectors/mountstats/mountstats.py should be chmod -x

[2016-02-16 14:19] sandrotosi commented on #399
actually, rpm/systemd/diamond.service is not included in the tarball on pypi (while setup.py would try to install it on an rpm-based system)

[2016-02-16 17:30] jaingaurav commented on #396
@sandrotosi: Great stuff.

Btw, do you regularly package diamond for debian? Could you see if there is a easy fix for Issue #397?

[2016-02-16 17:37] sandrotosi commented on #396
it was not in debian, so I did the first packaging, and I will continue to upgrade it as new releases will be cut (btw, do you plan to release soon? the version on pypi is rather old ;) ) - I think https://github.com/python-diamond/Diamond/issues/397 uses the debian/ dir inside diamond, while I wrote it from scratch (taking some bits and pieces when I needed from your packaging), you can have a lo

[2016-02-17 01:01] davidballano commented on #397
I just hit this problem too

[2016-02-17 08:48] iurii-polishchuk commented on #397
+1

[2016-02-18 05:58] jaingaurav commented on #397
commit 10f9289 should resolve this. I don't believe it's necessary to package README.md

[2016-02-18 05:58] #397 closed

[2016-02-18 19:38] johnseekins commented on #384
Since Prometheus is a pull model, and diamond is a push model, it's unlikely that a prometheus handler will be made. It would have to completely re-architect how handlers in diamond work.

[2016-02-18 19:48] #384 closed

[2016-02-19 17:58] snordhausen commented on #396
Please keep in mind that Python 2.6 is still alive and will remain so until the year 2020 due to [Red Hat Enterprise Linux 6](https://access.redhat.com/support/policy/updates/errata/#Life_Cycle_Dates). So you may not want to drop support for that.

There's already a pretty nice [pull request](https://github.com/python-diamond/Diamond/pull/259) that only drops support for 2.5 and still gets py3k wo

[2016-02-19 18:09] josegonzalez commented on #337
@jaingaurav do we have a slack channel? I'm on the [hangops slack](http://signup.hangops.com/) as `savant` (also on freenode with that nick). Would like to ernestly discuss packaging this thing, even if our release notes say "Lots of things, read the commit messages".

[2016-02-19 18:19] jaingaurav commented on #396
@snordhausen: Agreed, python 2.6 support is not going away anytime soon. I'd like to get that PR in, but I think it wasn't updated after some initial comments. Perhaps if someone could resurrect it and give it a bit of massaging we could integrate it.

[2016-02-23 20:53] atoz3q opened #407 "In HBase and Hadoop collectors, filename globbing doesn't work when only one pattern is specified"
In the HBase and Hadoop collectors, if only one globbing pattern for metrics filenames is provided, the loop in `collect()` treats the list of patterns as a single string and attempts to iterate over the string's characters. This results in the collector trying to glob over individual characters instead of the string as a whole, breaking the collectors.

[2016-02-23 21:01] qardanaz commented on #407
#408

[2016-02-24 12:55] iurii-polishchuk commented on #225
I've got the same issue. It seems some kafka http reporter is required to expose jmx via http.

[2016-02-24 12:57] iurii-polishchuk commented on #225
Also actual documentation for KafkaCollector is highly appreciated.

[2016-02-25 11:01] iurii-polishchuk commented on #225
@maauso, download [mx4j-tools](http://mvnrepository.com/artifact/mx4j/mx4j-tools/3.0.1) into your kafka libs (in my case it was /usr/lib/kafka/libs) and restart kafka broker. After that mx4j adaptor will listen on port 8082 and KafkaCollector is able to read kafka metrics.

[2016-02-25 11:12] maauso commented on #225
@iruii-Polishchukka thanks I'll try it, finally I used jmxtrans, but I think that in this case diamond is best solution

[2016-02-25 12:14] iurii-polishchuk commented on #225
@maauso another option is to use [JolokiaCollector](https://diamond.readthedocs.org/en/latest/collectors/JolokiaCollector/).

[2016-02-29 10:39] khodnev opened #410 "NetworkCollector and device names"
Hi team.

Can you please make changes to NetworkCollector?
It can take the interface names directly from a file /proc/net/dev.
I do not want every time to make a large number of interface names in the configuration file, and restart diamond, if the interface names are called as well as the name of the VPS.
This can be controlled in the configuration file.
For example, if the list of interfaces emp

[2016-02-29 21:57] claytondukes commented on #219
Can someone let me know how to fix this if it's on a Debian server? (installed using pypi-install diamond)

[2016-03-02 14:58] olivierHa commented on #315
Any workaround ?

Maybe using the pymongo version 2.9 ?

[2016-03-02 19:05] steenzout opened #414 "diamond not starting at boot time"
I've just noticed that diamond doesn't start at boot time.
Here is the output of a command that could help:
[code]

- diamond version 3.5.0
- Ubuntu 14.04

The LSB information I can figure out but I was just wondering if you came across this problem before and if (and how) you managed to solve it.

[2016-03-03 00:23] blaztoff opened #415 "RabbitMQCollector: I/O error on closed file"
Using RabbitMQ 3.6.1-1. Getting this error:

**An error occurred collecting from RabbitMQ, I/O operation on closed file**

Not much to go on here to see what it is erring out on. Anyone have this issue?

[2016-03-03 11:33] redref commented on #385
Your host "graphiterelay.myrealdomain.com" cannot be resolved ("Name or service not known" really look like it's DNS related). You may solve your problem by providing valid statsd connection host.

Nevertheless, Stats_d handler does not catch connection errors (graphite handler do by example). This may require correction (or not).

[2016-03-03 11:35] redref commented on #414
What's your install method (pypi, package, ...), diamond version, and OS version ?

[2016-03-03 16:54] steenzout commented on #414
I can see someone added this https://github.com/python-diamond/Diamond/blob/master/debian/diamond.upstart a couple of weeks ago.

closing the ticket.

[2016-03-03 16:54] #414 closed

[2016-03-05 14:44] redref commented on #396
Tried to get it working in #419 . Hope this can help.

[2016-03-08 10:04] mwicat commented on #365
@steenzout Probably too late but for anyone in the future:
version is computed from git describe:

[code]

Here is the code:
- https://github.com/python-diamond/Diamond/blob/master/setup.py#L91
- https://github.com/python-diamond/Diamond/blob/master/version.sh
- https://github.com/python-diamond/Diamond/blob/master/src/diamond/version.py.tmpl

[2016-03-08 15:33] steenzout commented on #365
@mwicat do you think it would be possible to start creating the same tags on github for the versions published on pypi?

[2016-03-08 16:57] mwicat commented on #365
@steenzout I think so, but it's more a question to package maintaner ;) @jaingaurav ?

[2016-03-08 16:59] steenzout commented on #365
here are a pointer in case you'd like travis-ci to do it for you: https://docs.travis-ci.com/user/deployment/releases/

[2016-03-08 22:53] steenzout commented on #365
#421 I've added a possible starting point to this.
when a specific version gets tagged, the debian and rpm package would get built and uploaded to the [github releases page](https://github.com/python-diamond/Diamond/releases).

[2016-03-08 23:09] steenzout commented on #365
I see you are using `git describe` but if you use a non-annotated tag it will not run this version number.

A test I made:
[code]

[2016-03-09 00:12] steenzout commented on #365
patch here: https://github.com/python-diamond/Diamond/pull/423

[2016-03-09 19:01] steenzout opened #425 "diamond.upstart file must end in .conf"
[code]

so

[code]

version:
[code]

[2016-03-09 21:12] steenzout opened #426 "diamond `stop on: unknown event`"
Diamond upstart configuration file is giving errors when I check it:

[code]

if I use

[code]

it passes the check-config.
## environment

[code]

[2016-03-09 22:12] stantona opened #427 "pypi-install uses /bin/init.d/diamond instead of the correct debian version"
After installing diamond using pypi-install on Debian Wheezy/Jessie, `bin/init.d/diamond` was copied to `/etc/init.d/diamond`.  I believe the correct file should be `debian/diamond.init`.

This caused errors due to an incorrect file being sourced: `/etc/rc.d/init.d/functions` instead of `/lib/lsb/init-functions`.

[2016-03-11 04:48] benley commented on #384
You could potentially use the prometheus graphite_exporter module to relay stats from diamond to prometheus.

[2016-03-11 05:21] tuyy123 opened #428 "[MainThread] Queue full, check handlers for delays.."
I want to add very many Collectors.
so I added Collectors(12~ 15 collectors) with batch size = 30

but result.. below Image..

<img width="852" alt="2016-03-11 12 36 56" src="https://cloud.githubusercontent.com/assets/13308314/13692570/fae3609e-e785-11e5-8f7a-7c0c6db4ac09.png">

when i increase batch size to 100, then there was no such error.
do i have to increase batch_size?...

[2016-03-11 13:33] eugenepaniot commented on #219
It works! Thanks.

[2016-03-11 17:20] redref commented on #428
I assume this message pop after some time (depending on your collectors interval).

What metric_queue_size did you configured ? (Logged in DEBUG at starting)
Approximatively, how many metrics do you send / minute ?
Do you have multiple handlers ? (which one(s) ?)

Increasing batch_size may help but only if handler can handle it.

[2016-03-11 22:34] merlijntishauser commented on #415
I updated my rabbitMQ docker image to 3.6.1 and tried to reproduce your error, but I get valid metrics returned. Sorry ;)

[2016-03-12 21:00] bakerkj commented on #219
Is there anything holding up pulling this to master?

[2016-03-13 17:07] krbaker commented on #219
works for me too

[2016-03-13 17:33] krbaker commented on #59
the different levels of nesting depend on where you put the configuration I believe.  If you put it in the main config you need more [] than if you put it in the per-collector config. /etc/diamond/collectors/SNMPRawCollector.conf vs /etc/diamond/diamond.conf

[2016-03-14 01:22] en90choi commented on #428
we did not specify metric_queue_size in configuration file.
i checked the log, metric_queue_size was default(16384).
these are collectors in our configuration file.
[code]
with 2 handlers.(ArchiveHandler and MY_CUSTOMIZED_HANDLER).

* process method
[code]
approximatively, MY_CUSTOMIZED_HANDLER send 600 metrics / minute.

[2016-03-14 18:19] redref commented on #428
Ok. Some informations missing to make a big picture
  * how many metrics in ? (from collectors) interval ? (default seems to be 300s)
  * is handler (and his backend) handling batch_size efficiently ?

Anyway I think you can increase batch_size safely. From my experience, value between (metrics nb / collection interval / 2) and (metrics nb / collection interval) are ok.

To explain a bit. Diamond

[2016-03-16 09:59] en90choi commented on #428
thanks a lot.
interval was 10, and handler just refer batch_size in if statement..
i think my handler is too slow.

[2016-03-17 17:44] mbainter opened #433 "Memcached Collector fails to collect stats with pid in the ignore list"
When running the Memcached collector, when it hits the get_stats routine it is currently ignoring the 'pid' result.  So when it loops through the data, it skips assigning the pid, so the cmdline can't be parsed.  This results in the 'Cannot parse command line options for memcached' error being triggered in the try/except loop.

This has been reported a couple of times now, but on the old repositor

[2016-03-18 07:01] Slydder opened #434 "GlusterFS collector"
Hey all,

Attached you will find the first version of a GlusterFS collector that we are actually using in production.

If there are any issues please let me know so I can correct them.

Chuck

[glusterfs.py.tar.gz](https://github.com/python-diamond/Diamond/files/179172/glusterfs.py.tar.gz)

[2016-03-18 14:26] mbainter commented on #433
This is what I ended up implementing to address the pid problem, leaving 'pid' in the ignored list:

`
  for line in data.splitlines():
    pieces = line.split(' ')
    if pieces[0] == 'STAT' and pieces[1] == 'pid':
      pid = pieces[2]
      continue
    elif pieces[0] != 'STAT' or pieces[1] in ignored:
      continue
    if '.' in pieces[2]:
`

[2016-03-18 16:14] docwhat commented on #79
I tested this in version 4.0.195 and it seems to be fixed now, so this probably can be closed.

[2016-03-19 01:13] postmodern opened #436 "resque-web collector does not support HTTP Basic-Auth"
It's common to expose resque-web on `0.0.0.0`, but protect it with HTTPS and Basic-Auth. It appears only `host` and `port` are [configurable](https://github.com/python-diamond/Diamond/blob/master/src/collectors/resqueweb/resqueweb.py#L38).

[2016-03-19 01:58] mattrobenolt commented on #434
This is resolved with https://github.com/python-diamond/Diamond/pull/435

[2016-03-20 18:42] jimfunk opened #438 "Failure in cephstats collector"
Using ceph 0.94.5 the cephstats collector is failing here:

[code]

Here is the output it's failing to parse:

[code]

[2016-03-21 08:11] AlexAkulov commented on #79
Thanks!

[2016-03-21 08:11] #79 closed

[2016-03-22 07:45] flyingfish007 opened #440 "Failure with influxdbHandler"
InfluxDB shell 0.10.3

[2016-03-22 15:43:19,929] [MainThread] Traceback (most recent call last):
  File "/usr/lib/pymodules/python2.7/diamond/handler/Handler.py", line 72, in _process
    self.process(metric)
  File "/usr/lib/pymodules/python2.7/diamond/handler/influxdbHandler.py", line 151, in process
    self._send()
  File "/usr/lib/pymodules/python2.7/diamond/handler/influxdbHandler.py", line

[2016-03-22 21:08] thematt opened #441 "Wrong build RPM on Oracle Linux"
Using Oracle Linux 7.2
platform.dist()[0] on Oracle Linux returns 'oracle', and the condition

 is not satisfied, therefore rpm-package builds without systemd service file.
Please fix it.

[2016-03-25 16:40] omar-m-othman opened #443 "path_prefix and path combination producing a bug"
Setting my `path_prefix` to empty and `path` to something produces an extra dot at the beginning -- at least that is what I see on the screen when I run

which is not a huge problem since the data makes it to Graphite to the correct path, but I am not sure how exactly Graphite deals with this and whether it might be a problem in the future.

My goal was to write the Graphite metrics to a path that

[2016-04-01 08:24] adelbot opened #445 "Handler Kafka"
Is expected in future versions a handler to Kafka ?

[2016-04-01 09:15] Fullmetal8ender opened #446 "Float values"
Hi/ I have a problem with getting float values. I have a metric with value 0.001, but diamond always return 0.0
To send metric I use self.publish(key, metrics[key], None, 1).
What did I do wrong?

[2016-04-01 12:46] iurii-polishchuk commented on #446
You should use
`self.publish(metric_name, metric_value)
`

[2016-04-01 12:54] Fullmetal8ender commented on #446
In this case I will receive 0.0 beacause of
if precision == 0:
value = round(float(value))

2016-04-01 18:46 GMT+06:00 Iurii Polishchuk <notifications@github.com>:

[2016-04-01 13:08] iurii-polishchuk commented on #446
Yes, you're right. Then try precision=3. https://github.com/python-diamond/Diamond/blob/master/src/diamond/metric.py#L28

[2016-04-01 13:40] Fullmetal8ender commented on #446
Thank You!

2016-04-01 19:08 GMT+06:00 Iurii Polishchuk <notifications@github.com>:

[2016-04-01 13:40] #446 closed

[2016-04-03 00:29] phrend commented on #427
I just tried to install diamond (via pypi-install ) on a raspberry pi, and ran in to something similar. Is there a quick, manual solution for this?

[code]

[2016-04-19 08:30] shortdudey123 commented on #387
Solved by https://github.com/python-diamond/Diamond/pull/451

[2016-04-19 14:12] #387 closed

[2016-04-19 14:12] jaingaurav commented on #387
Fix was merged

[2016-04-20 11:54] quiqueporta commented on #385
I have the same issue

[2016-04-27 05:09] balookrd opened #461 "error in docker_collector"
this patch fix bad join function

[docker_collector.py.patch.txt](https://github.com/python-diamond/Diamond/files/237958/docker_collector.py.patch.txt)

[2016-04-27 05:11] shortdudey123 commented on #461
can you open a PR with that patch?

[2016-04-27 05:34] phrend commented on #219
I'm trying to get SNMPInterfaceCollector working and am getting the same errors. I tried using https://raw.githubusercontent.com/bmfurtado/Diamond/%23219/src/collectors/snmp/snmp.py but still get the error. I'm totally open to the possibility that I'm doing something else wrong!

(using diamond==4.0.195 and pysnmp==4.3.2)

[2016-05-12 20:41] kstaniek commented on #219
+1

[2016-05-23 18:51] travisgroth opened #475 "Support for nginx+ status endpoint"
The commercial subscription for nginx offers a much more detailed status endpoint and I'd like to get that data into diamond.  I presently have most of the code ready.

The dataset and format is completely different than the normal nginx status info, but the options and testing strategy is pretty similar.  Is there a project preference for...

(a) Adding nginx+ support to the existing nginx collec

[2016-05-23 22:19] shortdudey123 commented on #475
Option A sounds good to me
You can detect which is which based on the `Content-Type` response header (`application/json`for nginx+  vs `text/html` for nginx)

[2016-06-01 07:20] akmalabbasov opened #479 "HTTPJSONCollector"
Hi, I have a following json file returned by http request.

[code]

I'm using HTTPJSONCollector, but getting the following errror

[code]

[2016-06-01 16:47] redref commented on #479
Can you please provide collector config and version ?

Right now, it's impossible to match any lines. I could not find :
`self.publish(stat_name, metric_value)`

[2016-06-01 16:51] redref commented on #183
:+1:

May be a good way to re-launch "active" development on this project.

Seems quite in pause. Anything to help ?

[2016-06-01 17:51] mattrobenolt commented on #183
afaik all of the necessary internal work has been done and collectors can be split out whenever.

I created an example a while back: https://github.com/python-diamond/diamond-redis which also includes tests, etc.

[2016-06-01 18:36] shortdudey123 commented on #183
I should be able to help with this as well.  Splitting things out will help when it comes to running different components for testing in a way that doesn't become bloated. (i.e. my work in https://github.com/python-diamond/Diamond/pull/467)

[2016-06-03 12:04] bigunyak commented on #355
Yeah, this certainly doesn't work, diamond always loads all collectors from the `collectors_path`. The `--run` option is basically ignored.

[2016-06-08 19:25] nickjacobson opened #486 "add Categories to PyPI page"
The download file is called diamond-4.0.451-py2.py3-none-any.whl so I'm assuming Diamond supports Python 3?

If so, these Categories should be added to https://pypi.python.org/pypi/diamond:
Programming Language :: Python
Programming Language :: Python :: 2
Programming Language :: Python :: 3

[2016-06-09 19:15] redref commented on #183
Problem may not be developers as work to do is not so big, but consistency and release process. It would be tricky to get everything done in a realistic timing so far. I think we need to get somebody (I know it's not simple) to actively review / comment / merge on this subject.

Beside, I thought about collectors groups (suggest)
  * linux system (memory, cpu, interrupt, ...)
  * tools (files, htt

[2016-06-12 02:05] xpxu opened #488 "/etc/diamond is not created when use pip to install diamond"
I have tried to install diamond through pip, and also tried from source code.

I have noticed that /etc/diamond is not created when I use pip install, while it's fine with installation from source code.

I wonder whether this is the expected way?

[2016-06-13 10:33] en90choi commented on #428
you can close this. it was fixed. i increased batch_size.

[2016-06-16 15:15] antimion opened #492 "pypi-install error"
Hi all, can't install via pypi, i'am trying change pip version but it didn't help.

pypi-install diamond
Traceback (most recent call last):
  File "/usr/bin/pypi-install", line 142, in <module>
    main()
  File "/usr/bin/pypi-install", line 110, in main
    tarball_fname = get_source_tarball(package_name,verbose=options.verbose)
  File "/usr/bin/pypi-install", line 61, in get_source_tarball
    v

[2016-06-16 15:16] trienism commented on #492
I opened the exact same issue https://github.com/astraw/stdeb/issues/122

[2016-06-16 16:26] redref commented on #492
Hi @antimion ,

Is there a line missing with exception message ?

IMO, it's a pypi-install related problem like @trienism said.

[2016-06-16 16:30] antimion commented on #492
hi @redref

otput not fully copied from shell. This is full error.

[2016-06-16 16:32] redref commented on #492
Now for sure, it's not diamond related.
I think this issue can be closed.

[2016-06-16 16:35] trienism commented on #492
@redref before you close the issue, is there any reason not to use pip to install diamond on ubuntu?

[2016-06-16 16:39] redref commented on #492
Both use setup.py and setuptools/distutils lib.

I don't see any differences.

[2016-06-16 16:40] trienism commented on #492
Cool, thanks.

[2016-06-16 19:22] sandrotosi opened #493 "PyPI tarball contains pyc files"
Hello,
in the tarball released on PyPI, there are several pyc files - could you remove them from the next released tarball?

thanks!!

[2016-06-22 09:28] koman-maciej commented on #352
This issue is important for me as well. I've checked memory used by diamond container using the [kubernetes-docker-collector](https://github.com/blindradiator/kubernetes-docker-collector) by @blindradiator and I've turned off all of diamond collectors. Attached diagram shows stats for https://github.com/python-diamond/Diamond/commit/37215f7fc45270e1a3992e17ee5a27e42a2b6da6 (green color) and https:

[2016-07-01 15:27] Ssawa opened #499 "Diskspace Collector incorrectly calculating bytes on OSX Yosemite"
Hey,

I've been evaluating Diamond on my local OSX machine and noticed that the DiskSpace collector was giving me bogus results (saying I had ~3000 GB free on my 250 GB hard drive). Strangely, however, I noticed that the "percentfree" metric looked pretty much spot on. After digging into the code it looks like the problem was where we [set block_size to f_bsize](https://github.com/python-diamond/D

[2016-07-01 15:32] Ssawa commented on #499
Also if[ this forum post](http://community.hpe.com/t5/LVM-and-VxVM/definition-of-f-bsize-vs-f-frsize/td-p/4761159) is any indication, it seems like the f_bsize vs. f_frsize confusion has come up before.

[2016-07-06 16:40] #347 closed

[2016-07-29 14:12] jruere opened #508 "Related Projects Page Link Broken in README"
It works from the documentation.

[2016-07-29 14:38] jruere commented on #222
This would be a pretty neat addition, if completed. :)

[2016-07-29 17:02] shortdudey123 commented on #508
This is because README.md is a symlink to `docs/index.md`
Changing it from a markdown relative link to a full link would probably fix it

[2016-08-01 12:58] adfel70 opened #510 "kafka per topic metrics (kafka >= 0.9)"
hello,

the kafkastat collector for some reason supports only splitting 2 optional "=" in each mx4j metric at most.
this prevents getting the topic metrics (per each topic).

the fix is very small:

instead of:

[code]

should be something like:

[code]

this would be very helpful !

[2016-08-03 01:41] ddreggors commented on #225
I have just upgraded to kafka 0.8.2.2 (from 0.8.2.2) and I have mx4j-tools installed. I see no errors in diamond logs but all stats have stopped in graphite. I can browse to kafka servers on port 8082 and see all metrics.

Any clues?

[2016-08-03 01:45] shortdudey123 commented on #225
@ddreggors can you add any diamond debug logs here?

[2016-08-03 02:09] ddreggors commented on #225
I have a snippet of 2 logs since I restarted with DEBUG set:

This node shows an error involving a topic that is deleted. I cannot even see topic in zookeeper.
`[2016-08-03 02:06:19,235] [Thread-12] Collecting data from: MemoryCollector
[2016-08-03 02:06:19,288] [Thread-1] Collecting data from: CPUCollector
[2016-08-03 02:06:19,306] [Thread-1] GraphitePickleHandler: Sending batch size: 256
[2016-0

[2016-08-03 02:33] ddreggors commented on #225
Disregard errors in node3 log, I fixed that with a restart of kafka.
I am still unable to see kafka stats in graphite though. All other diamond stats are showing up in graphite for these nodes.

[2016-08-03 15:06] ddreggors commented on #225
I was able to fix my issue. The parsing of the mx4j was broken in the version if diamond I have.

I can make it parse now by changing to this:

`--- /usr/share/diamond/collectors/kafka/kafka.py	2016-08-03 06:04:12.040443070 +0000
+++ /usr/share/diamond/collectors/lskafka/lskafka.py	2016-08-03 14:56:22.222793771 +0000
@@ -112,23 +112,21 @@
             return

         if key_prefix is None:
-

[2016-08-03 17:50] shortdudey123 commented on #225
@ddreggors Looks like https://github.com/python-diamond/Diamond/pull/454 solves this as well... can you review and verify that is effectively the same as your patch?

[2016-08-03 20:48] ddreggors commented on #225
It does, but that code also has some undesirable affects. See my comments in that ticket.

[2016-08-03 21:03] shortdudey123 commented on #225
yup, saw them :)

[2016-08-04 13:47] SteveAyre commented on #492
I've commented on astraw/stdeb#122 as I've identified the offending line in stdeb and have a workaround.

[2016-08-10 08:11] josephfrancis opened #514 "Opentsdb connections in hung state"
When using diamond to send to opentsdb we have found the diamond process to occasionally stop sending any metrics to opentsdb.
This does match up with the times when one or more of the opentsdb nodes attached to load balancer (AWS ELB) goes out of the cluster leaving the diamond socket in CLOSE_WAIT state.
I have tried a local patch which adds TCP keepalive and reconnection interval to get around

[2016-08-11 18:58] CaptSpify opened #516 "CephCollector doesn't show any errors on permission denied"
When using CephCollector, I was getting permission denied on the socket:
[code]
But this didn't show up in the log:

[code]

To fix, I had to add group-write access to the socket, and put diamond in the ceph group

[2016-08-11 19:13] shortdudey123 commented on #516
Looks like this is fixed in https://github.com/python-diamond/Diamond/pull/321/files#diff-733cf31c9f55d206bd14fa56ed0f985bR406

[2016-08-12 18:39] tbeauvais opened #517 "Add support to jbossapi to fetch thread pool statistics"
If you use a named thread pool in jboss you are able to collect the thread pools statistics using the threads subsystem from the management API.

For example:

[code]

You end up getting something like this back:

[code]

[2016-08-15 01:02] dwagon opened #519 "SNMPRawCollector fails due to unexpected response"
Using the SNMPRawCollector fails as the data returned by the SNMPCollector() class pretties up the data in the format: SNMPv2-SMI::enterprises.1.2.3.... instead of 1.3.6.1.4.1.1.2.3...

This causes the collector to complain about unexpected response because it isn't in the format that was requested.

[2016-08-19 20:28] morsik commented on #488
I experienced the same problem.

Looks like there is problem with Python Wheel package which doesn't install that directory (along with few others like `/etc/init.d/diamond` or `/usr/lib/systemd/system/diamond.service`).

And I confirm, that downloading git repo and `python setup.py install` creates correct files.

I was unable to find any info about Python Wheel packacing limitations about that…

[2016-08-19 20:36] morsik commented on #410
AFAIK you don't need to specify exact interface names. My config contains:

[code]

and it handles almost all possible interfaces (yeah, there can be `team`, `vif` or `tun` for example, but I don't need that).

I got that from `diamond-setup`.

Also, this value is default ([according to source code](https://github.com/python-diamond/Diamond/blob/dd3347748c28ec1491627ffa74f898d3f91980a5/src/collect

[2016-08-19 20:38] morsik commented on #323
Related to #488?

[2016-08-19 20:46] morsik opened #522 "Resend statistics when remote (eg. Carbon) is non-accessible for some time"
It could be very nice if Diamond would have such feature.

For example:

I'm doing mainteance of Carbon server(s) and I need to shut it down (go away HA this time :P). Diamond is not sending data to Carbon, since it's not accessible. But after it's up again, Diamond sends only current data.

It could be nice it he send all the data that he didn't send over time. He has all that data already in `/v

[2016-08-22 07:48] khodnev commented on #410
I have up to 100 VPS per server. Network interface for VPS is always the same name of the VPS.
VPS often migrate, add, delete, stop. At the same time I have to manually make changes to the configuration. Why do I have to further specify the interface names in the config file, if they ever have in the file /proc/net/dev ?

[2016-08-22 19:07] morsik commented on #410
Do I understand correctly? If you have VPS "web01" you have interface called "web1"?! Or what? I still don't see why you need to change that configuration (anyway, just use some configuration management…).

[2016-08-23 07:23] khodnev commented on #410
Yes. That's right.
I have done so that the name of the VPS interface is always equal to the name of the VPS. Then in the statistics will never mess with the interface names, if they are generated automatically, for example vnet0, vnet1, vnet2. Which interfaces was at VPS veb01 before and after a reboot?

And it is not important!
It is important to take interface names from the /proc/net/dev.
Then

[2016-08-23 09:36] urc opened #523 "HTTPJSONCollector 'double-dots' Hystrix metrics?"
Apologies if this is a configuration option I have missed, but I am having an issue with the HTTPJSONCollector talking to a Hystrix metrics endpoint in a Java application. It collects everything just fine, but inserts an extra dot in the collected data, regardless of whether we set the `path`, or how long this path is in terms of elements.

No other configuration other than `enabled` and `url`, wh

[2016-08-23 10:11] morsik commented on #410
Ah… I thought you have those interface naming *inside* VMs. But now I see you're talking about hypervisor. Why not to use [LibvirtKVMCollector](https://diamond.readthedocs.io/en/latest/collectors/LibvirtKVMCollector/) then (if you use KVM)? It's very convinient in your case (and my case, cause I have the same problem) and it collects VMs by UUID or they hostname.

But about your problem… Just put

[2016-08-25 10:29] rkalicinski commented on #352
I'm also struggling with this issue. Is there any hope for some action to fix it?

[2016-08-25 17:07] shortdudey123 commented on #352
There is [141 commits / 1 year](https://github.com/python-diamond/Diamond/compare/37215f7fc45270e1a3992e17ee5a27e42a2b6da6...6120813f668abddaac15fe2522cdd7da8ece6dc3) between the 2 sha's listed above
Nothing in the core diamond code in that diff stands out

@rkalicinski what commit sha are you running?
@koman-maciej Can you pic a sha half way in the middle and run that so it narrows it down a bit?

[2016-08-27 17:46] hostingwalk commented on #426
Maybe you can upgrade to Diamond version 4.0.451  not sure if that will fix your problem.

[2016-08-31 12:58] anshulp25 opened #525 "Kafka Mbean with type 'java.lang.Object'"
`kafkastat.py` perfectly handles the mbeans having values type : `double`, `float`, `int` and `long`, but some mbeans ( for eg : `kafka.server:type=ReplicaManager,name=LeaderCount` ) has type `java.lang.Object`, which code ignores and doesn't extract values from it.

Any generic way to overcome this ?

[2016-09-05 13:31] onagorodniuk commented on #493
+1
Still facing this issue

[2016-09-06 07:16] jacksu opened #529 "snmp collector how to run?"
Which file call the function collect_snmp(self, device, host, port, community) in the file snmpinterface.py?

[2016-09-06 07:21] jacksu commented on #519
Which file call the function collect_snmp(self, device, host, port, community) in the file snmpinterface.py?

[2016-09-12 23:56] dwagon commented on #519
snmpinterface collector isn't involved. This is the snmpraw collector.

[2016-09-21 17:25] bandesz opened #533 "Documentation needed: handler configuration in separate file"
I'm trying to configure cloudwatchHandler in /etc/diamond/handlers/cloudwatchHandler.conf but however I'm formatting the config it results in different errors. If I put the same configs in /etc/diamond/diamond.conf it works. Could you show me an example please and also add some documentation for this? Thanks!

[2016-09-21 17:26] bandesz commented on #533
Diamond version 4.0.451

[2016-09-23 17:51] dellis23 opened #538 "The memcached collector fails to parse long "stats" responses"
Particularly if the stats response is across packet boundaries.  The solution is to call `recv` until the full response is received.  I have a fix I'm pushing up now.

[2016-09-29 22:10] GregMeno commented on #516
@shortdudey123 do you have any interest in reviving #321 ? I would like to see this work merged. conversation died off in Feb. What can I do to help?

[2016-10-13 12:10] agonen commented on #488
any update on that ?

[2016-11-16 22:12] ChastinaLi commented on #488
+1

[2016-11-18 10:57] bdelbosc opened #547 "MongoDB collector reports partial metrics"
MongoDB metrics are taken from `db.serverStatus` and lots of metric names contain white spaces.
Therefore they are not published on Graphite.
For instance: `wiredTiger.cache.eviction server evicting pages` and so on.
A PR is following.
Regards
ben

[2016-11-20 03:08] RichardBronosky commented on #396
This is really annoying. I can't find a single demo of this project. Not a screenshot. The first thing I run into when I finally decide to install it just to learn about it... is this. An insistence on not supporting Python 3 so that they can support 2.5. The reason we keep quoting Gretzky is because people still don't get it. "I skate to where the puck is going to be, not to where it has been." h

[2016-11-20 03:10] mattrobenolt commented on #396
Pull requests accepted I'm sure.

[2016-11-25 03:02] #123 closed

[2016-11-25 03:14] josegonzalez commented on #486
Closing as a pr has been merged.

[2016-11-25 03:14] #486 closed

[2016-11-25 03:14] #138 closed

[2016-11-25 03:16] josegonzalez commented on #136
This might be a problem with your ntp setup. I've seen similar issues on my own systems when there is significant drift and ntp/cron are acting up.

[2016-11-25 03:16] #136 closed

[2016-11-25 03:18] josegonzalez commented on #133
Diamond currently logs `Failed to load dogapi module` if the module is not installed. We may not install specific dependencies for downstream collectors/handlers, and you should check on each to be sure you have the correct deps setup.

[2016-11-25 03:18] #133 closed

[2016-11-25 03:20] josegonzalez commented on #78
Closing as we haven't seen any other reports and there hasn't been any update to this issue. Its possible that your IAM permissions were incorrect, resulting in null values.

[2016-11-25 03:20] #78 closed

[2016-11-25 03:23] josegonzalez commented on #51
Closing since it's fixed. I'm working on getting a release out now.

[2016-11-25 03:23] #51 closed

[2016-11-25 03:23] josegonzalez commented on #49
Closing as there was a pr opened and merged.

[2016-11-25 03:23] #49 closed

[2016-11-25 03:29] josegonzalez commented on #221
If you want to change the user that debian runs your diamond daemon as, you'll need to update your init/upstart/systemd script. Since that is what invokes the diamond daemon - which then loads the config - it's the correct place to edit for changing who runs the daemon.

[2016-11-25 03:29] #221 closed

[2016-11-25 03:29] #220 closed

[2016-11-25 03:32] josegonzalez commented on #218
It uses the target as the metric name. It wouldn't chomp off the subdomain - `www` - or the tld - `org` - as that would have the possibility of causing overlapping metric collection.

As an example, the following would collide:

[code]

Those are obviously two different domains, but by your logic, we'd have them both report to `example`, which is definitely wrong. Instead, we simply replace period

[2016-11-25 03:34] josegonzalez commented on #215
How does RPM normally write pids? Our debian packaging handles this just fine, though it seems that the rpm packaging does something wildly different.

[2016-11-25 03:41] josegonzalez commented on #178
Duplicate of #155.

[2016-11-25 03:41] #178 closed

[2016-11-25 03:47] josegonzalez commented on #316
@loood do you have a pull request for the GraphiteHandler?

[2016-11-25 03:49] josegonzalez commented on #309
Duplicate of #219.

[2016-11-25 03:49] #309 closed

[2016-11-25 03:57] josegonzalez commented on #265
It won't be supported without help from contributors like yourself. Feel free to submit a pull request when you have one available :)

[2016-11-25 03:57] #265 closed

[2016-11-25 04:01] josegonzalez commented on #251
Do you have a pull request to fix this?

[2016-11-25 04:01] josegonzalez commented on #250
Which pr has a fix for this issue?

[2016-11-25 04:02] josegonzalez commented on #251
Ah it was merged!

[2016-11-25 04:02] #251 closed

[2016-11-25 04:03] #227 closed

[2016-11-25 04:10] #428 closed

[2016-11-25 04:13] josegonzalez commented on #426
Closing as there hasn't been any update (or results from an upgrade).

[2016-11-25 04:13] #426 closed

[2016-11-25 04:14] josegonzalez commented on #415
Closing as no one was able to reproduce and there hasn't been an update in a while.

[2016-11-25 04:14] #415 closed

[2016-11-25 04:14] josegonzalez commented on #410
Closing as a workaround was provided by another user. Thanks @morsik !

[2016-11-25 04:14] #410 closed

[2016-11-25 04:15] josegonzalez commented on #399
Ugh this is gonna be a mess to sort out :P

[2016-11-25 04:18] josegonzalez commented on #396
@mattrobenolt 💯 I'd definitely immediately look at anyone's pull request to add Python3 support, while at least supporting Python 2.7 (which is where I currently deploy on Ubuntu 14.04). One minor blocker is getting as many bug fixes merged into the existing collectors, and then moving them out to their own projects, which should ease the upgrade burden. We'll still need to figure out packaging -

[2016-11-25 04:19] josegonzalez commented on #385
You've set the host to `false` for a few collectors. You may instead wish to disable them (or omit them from your config).

[2016-11-25 04:19] #385 closed

[2016-11-25 04:20] josegonzalez commented on #367
Yep, that works. Pull requests welcome!

(Sorry for the long wait for a response...)

[2016-11-25 04:23] josegonzalez commented on #357
Is there a reason why it *must* do it that way? Does this break in the real world?

[2016-11-25 04:26] josegonzalez commented on #352
Looks like an unbounded queue and/or you aren't processing metrics quickly enough. Without further logging output, it will be difficult to get to the bottom of this.

Any help is appreciated!

[2016-11-25 04:27] josegonzalez commented on #351
Closing as there hasn't been any update in a few months.

[2016-11-25 04:27] #351 closed

[2016-11-25 04:33] josegonzalez commented on #533
What errors are you seeing?

[2016-11-25 04:36] josegonzalez commented on #529
Based on a code search, seems like it was used for tests and nothing else. Any collector that implements `collect_snmp` seems like it might be broken.

What led you to investigate this method?

[2016-11-25 04:37] josegonzalez commented on #525
Not sure, we'll definitely need a patch for that.

[2016-11-25 04:38] josegonzalez commented on #523
Seems like a prefixing bug. I feel as though there was a pr made recently to fix this, though I'll have to check.

[2016-11-25 04:40] josegonzalez commented on #517
Pull request was merged, thanks!

[2016-11-25 04:40] #517 closed

[2016-11-25 04:41] josegonzalez commented on #514
Pull requests welcome!

[2016-11-25 04:42] josegonzalez commented on #510
Can you make a pull request for this issue?

[2016-11-25 04:42] josegonzalez commented on #499
Thanks for the pull request!

[2016-11-25 04:42] #499 closed

[2016-11-25 04:43] josegonzalez commented on #492
Judging by the responses, seems like an issue with your tooling, not with Diamond. Closing, but let us know if there is something we might need to fix on our end.

[2016-11-25 04:43] #492 closed

[2016-11-25 04:44] josegonzalez commented on #479
Closing as there hasn't been any followup. Feel free to comment with your configuration and diamond version so we can further investigate.

[2016-11-25 04:44] #479 closed

[2016-11-25 04:46] josegonzalez commented on #445
Only if a community member decides to contribute one. Pull requests welcome!

[2016-11-25 04:46] #445 closed

[2016-11-25 04:47] josegonzalez commented on #441
Closing as the pull request was merged.

[2016-11-25 04:47] #441 closed

[2016-11-25 04:47] josegonzalez commented on #440
Our influxdb handler doesn't appear to support newer versions of influxdb.

[2016-11-25 04:49] josegonzalez commented on #355
Duplicate of #155

[2016-11-25 04:49] #355 closed

[2016-11-25 06:23] jacksu commented on #529
https://github.com/python-diamond/Diamond/pull/532/files

[2016-11-25 07:15] aboks commented on #218
Thank you for looking into this @josegonzalez, but I think you misunderstood the issue. I did not mean to suggest that the implementation should strip the subdomain and TLD, as that would obviously be a bad idea for the reasons you pointed out.

Rather, I see there is a mismatch between the documentation (which suggests that the part of the setting name after `target_` is pushed) and the actual co

[2016-11-25 07:39] josegonzalez commented on #218
Ah good catch. Mind digging through the ping collector history to figure out what exactly we originally meant to do here?

[2016-11-25 08:05] aboks commented on #218
The current behavior (replacing dots with underscores in the hostname) seems to be there from the initial commit of the `PingCollector` (https://github.com/python-diamond/Diamond/commit/be5b89d753ea90b9fe07d70d768cd72cc2c92492). The remark in the documentation was added in https://github.com/python-diamond/Diamond/commit/d62087af7e05412ce7d1cc0ac7a36d2e5c4fcebe, but did not match the implementatio

[2016-11-25 08:16] josegonzalez commented on #218
Lets change the docs now and then make the new behavior optional?

[2016-11-25 18:03] #547 closed

[2016-11-25 21:52] josegonzalez commented on #519
Closed by #520.

[2016-11-25 21:52] #519 closed

[2016-11-25 21:53] josegonzalez commented on #219
Closed by #310. Thanks for the pull request!

[2016-11-25 21:53] #219 closed

[2016-11-25 21:58] josegonzalez commented on #529
This should be fixed and will go out in the next release. Thanks for keeping on top of this!

[2016-11-25 21:58] #529 closed

[2016-11-25 22:00] josegonzalez commented on #400
Seems reasonable. I think doing this now might cause tons of merge conflicts, though I'll have to do some research.

[2016-11-25 22:03] josegonzalez commented on #493
Closing as a pull request is up. Thanks for reporting, this shouldn't happen again.

[2016-11-25 22:03] #493 closed

[2016-11-25 22:06] josegonzalez commented on #365
Patch was merged - with a minor modification to ensure we actually capture shell output - and is in use now. Thanks for the pull request!

[2016-11-25 22:06] #365 closed

[2016-11-30 09:40] zoidbergwill commented on #384
Prometheus also has a push gateway which can be used to allow things with the push model as well.

[2016-12-21 15:51] AlexAkulov opened #566 "MongoDBCollector sends spaces in metrics name"
Hello!
MongoDBCollector sends spaces in metrics name
[code]

[2016-12-21 17:07] shortdudey123 commented on #566
Dupe of https://github.com/python-diamond/Diamond/issues/547

[2016-12-21 17:08] shortdudey123 commented on #566
Please verify you are using a newer version (`v4.0.501` or newer so that you have https://github.com/python-diamond/Diamond/commit/57c0b86d0d4adac30111c41b2d35d16adb7901f0)

[2016-12-22 09:14] #566 closed

[2017-01-09 07:42] m-messiah opened #572 "S.M.A.R.T. Collector device type"
Please, add ability to configure device type for SmartCollector.

For example, I have MegaRAID on /dev/sda, which is recognized as SCSI, but when I run `smartctl -A /dev/sda` (as SmartCollector runs), it prints:
[code]

I think, other controllers may have same trouble, so, maybe, we need to configure type from collector settings? Something like map: device -> type, or else?

[2017-01-12 21:15] languitar opened #575 "ProcessStatCollector must not calculate derivative of procs_running and procs_blocked"
`procs_running` and `procs_blocked` represent the current number of processes in the respective state. Therefore, `ProcessStatCollector` must not calculate the derivative of these values to keep them interpretable.

For reference: http://man7.org/linux/man-pages/man5/proc.5.html

[2017-01-18 10:11] labeneator opened #578 "pysupport is deprecated in favour of dh-python"
Compiling a debian package on ubuntu 16.04 fails due to the removal of pysupport from the apt repos. We need  to bump the buildtooling to use dh-python.

As a workaround, I used the provided solution in this [ask ubuntu question]( http://askubuntu.com/questions/766169/why-no-more-python-support-in-16-04)

I'll try to do the port and file a PR

[2017-01-18 10:31] labeneator commented on #578
Debian has a migration [wiki document](https://wiki.debian.org/Python/TransitionToDHPython2)

[2017-01-18 18:33] shortdudey123 commented on #578
See https://github.com/python-diamond/Diamond/pull/531 and https://github.com/python-diamond/Diamond/pull/565

[2017-01-24 01:35] ersiko opened #584 "How to set my metric path when creating a custom collector?"
Hi

I'm trying to create my own collector, but I'm having problems with the path. The collector is called "MyCustomCollector" and the code is as simple as:
[code]
I expected to find the metric at servers.hostname.my_test, but it's being written to servers.hostname.MyCustomCollector.my_test. There's nothing about setting the metric path on the ExampleCollector documentation, so I'm not sure how to

[2017-01-24 01:49] shortdudey123 commented on #584
You need to set the config option of `path` to `''` however, this is generally not a good idea since you end up with a large number of metrics at the same level.  You should set `path` to a name that easily identities your collector

See https://github.com/python-diamond/Diamond/blob/master/src/collectors/ntp/ntp.py#L52

[2017-01-24 12:50] ersiko commented on #584
Thanks! I created a PR adding that information to the ExampleCollector, hoping the next person will have it a bit easier :)

[2017-01-25 16:04] vmuriart commented on #54
There is now an option to `Destroy Documentation` in [Pypi](http://stackoverflow.com/a/41856147/5208670).  Hope this helps.

[2017-01-25 17:34] DStape opened #586 "Handlers are loaded differently from Collectors"
All collectors are disabled by default. The "collectors_config_path" option under the 'server' section allows a user to specify a directory to read collector config files from, without having any references to collector names in the 'main' config file (as long as the collector-specific config file name matches an available collector class name). Inversely, all handlers are enabled by default. The

[2017-01-25 17:52] DStape commented on #222
It should be in Debian 9: https://packages.debian.org/stretch/diamond

[2017-01-27 16:52] gfegit commented on #488
+1

[2017-01-27 17:55] dolobanko opened #587 "Building deb package from source"
When  trying to build a deb package on Ubuntu 14.04 with `make deb` get this stacktrace:

Issue occur with `v4.0.515` and `v4.0.501` releases. Was able to reproduce on a couple of nodes.

[2017-01-27 18:31] shortdudey123 commented on #587
looks like this is due to `git describe` not giving the correct output

What does `git describe --match 'v*'` result in?

[2017-02-05 17:48] rcracel opened #590 "MongoDB collector authentication"
Currently there is no option to specify the authentication database on the MongoDB collector.

It would be nice to have a way to specify the authentication database in addition to the username and password on the collector's configuration.

[2017-02-06 01:19] sridharan-amp commented on #488
am facing the very same issue. any updates on the fix?

[2017-02-06 06:26] shortdudey123 commented on #590
By default it should auth against the admin db.  Typically you should not store root users for monitoring purposes outside of it.  Is this your use case?

[2017-02-06 14:19] rcracel commented on #590
My monitoring user is inside the admin password but authentication - my fix was to change the python script to use the admin database for authentication. This is what I had to change to get it to work:

mongo.py line 234
`
            # try auth
            if user:
                try:
                    conn.admin.authenticate(
                        user, passwd, mechanism=self.config['auth_m

[2017-02-06 18:28] shortdudey123 commented on #590
Read the pymongo code and confirmed it uses `admin` if source is not specified.  So i presume that means something  is overriding it.  I use the mongodb collector with no changes to the auth code.

[2017-02-07 09:26] mmrezaie opened #591 "ReadMe broken link."
Just wanted to mention that this link for related works is broken: https://github.com/TomTheBear/Diamond/blob/master/Related-Projects

[2017-02-07 18:21] shortdudey123 commented on #591
I do not see a link to that repo, however, i do see the links in `docs/index.md` that to other `.md` files are not correct.

[2017-02-08 03:00] #584 closed

[2017-02-08 03:30] shortdudey123 opened #593 "Several collectors have multiple setDocExample method calls in their tests"
[code]

[2017-02-08 07:09] #475 closed

[2017-02-08 08:11] #591 closed

[2017-02-11 16:07] sandrotosi opened #595 "diamond takes a while to stop, errors out, slows down shutdown"
Hello,
as reported in Debian at http://bugs.debian.org/854842

[code]

could you have a look at this? thanks!

[2017-02-11 16:07] sandrotosi commented on #595
@paravoid

[2017-02-13 11:05] adfel70 commented on #361
If you are using systemd service, [this](https://github.com/python-diamond/Diamond/pull/464) should fix your problem.

[2017-02-16 06:04] shortdudey123 commented on #356
Fixed by https://github.com/python-diamond/Diamond/pull/198

[2017-02-16 06:04] #356 closed

[2017-02-16 06:39] shortdudey123 commented on #407
Solved by https://github.com/python-diamond/Diamond/pull/408

[2017-02-16 06:39] #407 closed

[2017-02-16 08:04] #262 closed

[2017-02-16 08:15] shortdudey123 commented on #508
Fixed by https://github.com/python-diamond/Diamond/pull/594

[2017-02-16 08:15] #508 closed

[2017-02-17 08:58] shortdudey123 commented on #282
Fixed by https://github.com/python-diamond/Diamond/pull/284

[2017-02-17 08:58] #282 closed

[2017-02-17 09:08] #81 closed

[2017-02-17 09:44] shortdudey123 commented on #525
Solved by https://github.com/python-diamond/Diamond/pull/378

[2017-02-17 09:44] #525 closed

[2017-02-17 09:45] shortdudey123 commented on #510
Solved by https://github.com/python-diamond/Diamond/pull/378

[2017-02-17 09:45] #510 closed

[2017-02-17 17:22] shortdudey123 commented on #225
@maauso this should be solved in master, open a new issue and reference this one if that is not the case

[2017-02-17 17:22] #225 closed

[2017-02-18 13:43] nightvisi0n opened #608 "Feature: Add a collector for linux raid"
I propose to add a collector for linux raid.
Linux raid can be monitored by parsing `/proc/mdstat`: https://raid.wiki.kernel.org/index.php/Mdstat

[2017-02-18 15:04] nightvisi0n commented on #608
I'm working on a PR for this feature :slightly_smiling_face:

[2017-02-19 08:46] shortdudey123 commented on #28
@monkey1016 is this still occurring?  if so, do you have more the info that you mentioned you could get?

[2017-02-19 08:54] shortdudey123 commented on #57
What metrics were you looking for from that end point?  The summary in the `_all` section?  The full per index stats?

[2017-02-19 08:57] shortdudey123 commented on #66
Waiting for tests to be added in https://github.com/python-diamond/Diamond/pull/507

[2017-02-19 09:05] shortdudey123 commented on #176
Closing since the origional question was answered
Any further concerns should be brought up in a new issue

[2017-02-19 09:05] #176 closed

[2017-02-19 09:07] shortdudey123 commented on #192
Solved by https://github.com/python-diamond/Diamond/pull/193

[2017-02-19 09:07] #192 closed

[2017-02-19 09:08] shortdudey123 commented on #201
Solved by https://github.com/python-diamond/Diamond/pull/208

[2017-02-19 09:08] #201 closed

[2017-02-19 09:09] shortdudey123 commented on #218
Solved by https://github.com/python-diamond/Diamond/pull/559

[2017-02-19 09:09] #218 closed

[2017-02-19 09:12] shortdudey123 commented on #440
Dupe of https://github.com/python-diamond/Diamond/issues/137

[2017-02-19 09:12] #440 closed

[2017-02-19 09:12] shortdudey123 commented on #197
Dupe of https://github.com/python-diamond/Diamond/issues/137

[2017-02-19 09:12] #197 closed

[2017-02-19 09:13] shortdudey123 commented on #278
Dupe of https://github.com/python-diamond/Diamond/issues/137

[2017-02-19 09:13] #278 closed

[2017-02-19 09:14] shortdudey123 commented on #298
Solved by https://github.com/python-diamond/Diamond/pull/300

[2017-02-19 09:14] #298 closed

[2017-02-19 09:15] shortdudey123 commented on #361
Probably solved by https://github.com/python-diamond/Diamond/pull/592

[2017-02-19 09:15] #361 closed

[2017-02-19 22:26] #608 closed

[2017-02-22 09:08] mikedlr commented on #306
N.B. in the latest version of mock (Python >3.6) there actually *is* an assert_called_once()!

 https://docs.python.org/3/library/unittest.mock.html

this leads to the ultra-dangerous situation where your test case can fail then pass correctly using TDD processes and then afterwards it doesn't test anything in different environments where an older version of python or the mock library is in use.

[2017-02-22 18:10] DStape commented on #595
I have a fix for this: https://github.com/python-diamond/Diamond/pull/611

[2017-02-22 18:27] DStape commented on #533
In https://github.com/python-diamond/Diamond/issues/586 I've described my understanding of the differences when configuring collectors vs handlers, so that could be useful.

[2017-02-22 18:55] #533 closed

[2017-02-22 20:31] shortdudey123 commented on #595
@sandrotosi Fixed via https://github.com/python-diamond/Diamond/pull/611

[2017-02-23 00:27] paravoid commented on #595
This is actually still broken when running diamond under systemd. I think this is because systemd by default sends a SIGTERM (eventually followed by a SIGKILL) to all processes in the service's cgroup (so here: all Diamond subprocesses) and that is still broken (racy?) even under the new code.

I can confirm that the new code makes diamond stop immediately when killing the parent (first) diamond p

[2017-02-23 00:52] shortdudey123 commented on #595
I am unable to reproduce this.  When running `pkill -f diamond`, the processes are killed affectively instantly.  Can you provide more info? config?

[2017-02-23 00:52] DStape commented on #595
Thanks for that info, I'll take another look at this.

My current understanding of the process model is as follows:

i) main process
ii) SyncManager spawned by main process
iii) Handler process spawned by main
iv) Collector process(es) also spawned by main

Each collector runs in its own process space, so if no collectors are configured, there are no collector processes. As a result, there is alwa

[2017-02-23 14:01] paravoid commented on #595
So the fix above basically modified the signal handler to skip the SyncManager process while looping over all the children and terminating them, essentially leaving it to die when the master process sys.exit()s.

I think what's happening here is that the signal handlers for SIGINT/SIGTERM are being installed *before* any processes are being spawned and as such they are being inherited by all the c

[2017-02-23 14:53] DStape commented on #595
The parent process interprets SIGINTs and SIGTERMs as shutdown requests. Commit fd4146d fixes the problem where the Manager process can exit before the others which then causes them to crash.

The parent process also has a SIGHUP handler set up and interprets this signal as a request to reload its config. That seems to work fine.

That said, I do agree that the signal handler setup code should be

[2017-02-23 14:58] paravoid commented on #595
Not sure if we're talking past each other, so forgive the verbosity :)

Commit fd4146d fixes the problem where the Manager process can exit before the others //if you send the TERM to the parent process//. It doesn't address the issue where you send a TERM to the Manager process itself (either alone or in combination with the parent, e.g. like systemd does). As the code is set up right now, the si

[2017-02-23 15:09] DStape commented on #595
:)

Yes, it doesn't address sending TERM to the manager (or to any of the other processes, I haven't experimented with that so don't know what the behavior is).

So I guess it depends on what we think is the "right" way to shutdown diamond. In my opinion, correctly shutting down the daemon should only be done by signaling to the main process. It's then the responsibility of the main process to cle

[2017-02-23 18:10] monkey1016 commented on #28
To be honest @shortdudey123, I haven't looked at this issue in a long time.  I think it's safe to close out.

[2017-02-23 18:27] #28 closed

[2017-02-24 16:09] paravoid commented on #595
I think we're in agreement. I think the proper behavior is that if you send a TERM to one of the children:
- diamond as a whole won't die
- diamond won't start misbehaving (busy loops, exceptions printed out etc.)

That's the case for the most part here. The `while True` loop actually respawns processes that should be running -- with the exception of SyncManager of course.

As such, I think Diamon

[2017-03-01 12:06] DStape commented on #595
The only problem I see is in relation to the collector processes. The main process will respawn a collector if it sees that it's no longer alive (~every 1 second). This behaviour was added by commit 2025384. Therefore, I'm not sure it'll be possible for collectors to gracefully terminate themselves, since the main process will respawn it when it detects its no longer running. This can get a little

[2017-03-01 12:28] DStape commented on #595
@sandrotosi The only diamond.service file I see in this repo is in Diamond/rpm/systemd/diamond.service which differs from the one shipped in Debian. I'm assuming you maintain this elsewhere? Would it be possible to update this so that KillMode is set to 'process'? Thanks.

[2017-03-01 15:10] sandrotosi commented on #595
yes @DStape we maintain the service file at https://anonscm.debian.org/viewvc/python-apps/packages/diamond/trunk/debian/diamond.service?view=markup

@paravoid could you have a look if these 2 changes address your usecase?

[2017-03-06 17:07] DStape commented on #595
Thanks @sandrotosi .

@paravoid , do you have any further comments on this? Thanks.

[2017-03-22 18:08] DStape commented on #595
Any further comments on this @paravoid? @sandrotosi , would really appreciate these changes being made available in Debian. Thanks.

[2017-03-27 10:56] m-messiah opened #623 "Debian install failed"
After commit: https://github.com/python-diamond/Diamond/commit/65f83ee95e965365c4e3231b8ec65fd4c09f2ee8 Diamond tries to find python-configobj package, which is absent (cause it finds in PIP, not apt-cache), so Diamond install fails after that version.

[2017-03-27 18:48] shortdudey123 commented on #623
Looks like the bug that was being fixed was introduced over 3 yrs ago in https://github.com/python-diamond/Diamond/commit/87197fdab55ed86a450de6fc41957e7e9dd31fef and never worked.  Probably can just yank that entire if statement

[2017-04-04 22:52] davidballano opened #630 "Diamond doesn't stop centos6"
HI guys, I recently built a centos rpm package from master,  I noticed that systemV init script is not able to stop diamond, it kills the main process but all the children move their parent to pid=1 after that, PID file gets removed and if you start another diamond you end up with a bunch of old/new processes.

here some examples:

root      3319  3318  0 22:40 ?        00:00:00 /usr/bin/python2.7

[2017-04-05 02:43] paravoid commented on #595
Sorry for the late reply. I think in the short-term `KillMode=mixed` in the unit would work, but I definitely still think that the signal handlers should be cleaned up as described above.

That said, I'm currently unable to reproduce this bug anymore and I'm completely unsure why! I've tried reproducing it both with systemd and like I did before, with `pkill -f` and everything stops immediately. I

[2017-04-06 12:38] AlexAkulov opened #631 "Elasticsearch collector multi instance problem"
Hello!
I have three instances of Elasticsearch on one host.
[code]
When one of instance ES doesn't response by timeout then diamond doesn't send stats from all other instances too. It confused! Now when one of process has a problem it looks like as whole cluster are broken.

[2017-04-06 18:50] shortdudey123 commented on #631
Do you have any logs that show where in the collector the timeout happened?

[2017-04-26 13:36] heta89 opened #636 "AttributeError: 'module' object has no attribute 'getuid'"
I'm getting the below error when I try to start Diamond on a windows machine:

[2017-04-26 23:21:51,026] [MainThread] Unhandled exception: 'module' object has no attribute 'getuid'
[2017-04-26 23:21:51,028] [MainThread] traceback: Traceback (most recent call last):
  File "XXXX\Python2.7\Scripts\diamond", line 220, in main
    os.getuid(),
AttributeError: 'module' object has no attribute 'getuid'

[2017-04-27 00:34] shortdudey123 commented on #636
Generally speaking Diamond does not supported or test against Windows platforms.

I can leave this open as a feature request to support windows or i can close this issue if that is not something you are looking for.

[2017-04-28 06:50] bhepple opened #638 "python-2.4 is not working"
The docs claim that python-2.4 is supported (eg on RHEL5) but diamond fails with:

ERROR: Failed to set UID/GID. 'module' object has no attribute 'initgroups'

/usr/bin/diamond:204: os.initgroups(pwd.getpwuid(uid).pw_name, gid)

[2017-04-28 07:04] shortdudey123 commented on #638
We haven't tested against 2.5 in quite a while
2.5 testing was removed in https://github.com/python-diamond/Diamond/commit/a08bc489751b2580f9e2e690c26efc20dd1df0c0 over 3 yrs ago and 2.4 testing was never done in travis.  If 2.4 or 2.5 is broken, then we should probably drop support as opposed to fixing.

That being said, @bhepple you are free to help work on fixing it.  However, Travis no longer

[2017-04-29 09:53] sideffect0 opened #640 "Error on systemd restart service detected on Debian/Ubuntu"
On restart ing the service with
`systemctl restart diamond`
The command will fail with error because,
`diamond.service: Start request repeated too quickly.`
with recent version of systemd in ubuntu or debian distros.

[2017-04-29 23:45] shortdudey123 commented on #640
Can you provide more info? logs? diamond, specific os, and systemd version?

[2017-04-30 00:33] shortdudey123 commented on #640
Unable to replicate the log line mention with Ubuntu 16.04

[2017-05-01 23:35] bhepple commented on #638
python26 would be fine for RHEL5 - but the python27-isms kill that too

[2017-05-02 00:08] shortdudey123 commented on #638
FWIW RHEL 5 is EOL so we won't support it
which `python27-isms` don't work on RHEL 6/7?

[2017-05-02 01:05] bhepple commented on #638
Please see original post - initgroups() is the first I ran into. I should have mentioned that this is the latest release Diamond-4.0.515

Cheers

Bob

[2017-05-02 02:03] shortdudey123 commented on #638
I am able to start diamond master on CentOS 6 with no issues

[2017-05-02 02:05] shortdudey123 commented on #638
Added the vagrant box i used for testing via https://github.com/python-diamond/Diamond/pull/643
Can you give me more info on how to replicate?

[2017-05-02 02:47] bhepple commented on #638
Are you running python26? That's the default on RHEL6.

This snippet is isolated from line 204 of /usr/bin/diamond and it fails on RHEL6:

[code]

https://docs.python.org/2/library/os.html states that:
[code]

[2017-05-02 07:31] shortdudey123 commented on #638
Oh i see, you are having diamond run under a different user (presumably with `--user`) and the code you mentioned does not get triggered normally since diamond is typically run as root.

What is the full command you use to start diamond?

[2017-05-02 07:54] shortdudey123 commented on #638
What happens if you try this?
[code]

[2017-05-02 23:28] bhepple commented on #638
[code]

[2017-05-02 23:30] shortdudey123 commented on #638
dang it 😞
i was afraid of that

So the `list index out of range` happens because the user is not in the group that you pass.  Probably because the user and group are the same and linux does not show the user in its own group.  Let me keep poking at it

[2017-05-02 23:32] bhepple commented on #638
We run as user:group = diamond:diamond which is 806:752 on my test system

[2017-05-02 23:36] shortdudey123 commented on #638
is you do a `grep diamond /etc/groups` what do you see?

[2017-05-02 23:37] bhepple commented on #638
[code]

[2017-05-03 00:00] shortdudey123 commented on #638
hmm looks like what i thought... diamond is not part of the diamond group
let me do more poking

[2017-05-03 00:20] bhepple commented on #638
No - 'diamond' is the home group of the 'diamond' user so it doesn't need a separate entry in /etc/group.

I dunno why we put it in the shadow group - reasons lost in the mysts of time - but I don't think it would affect the current problem. I took it out as an experiment but it came back with the same error.

[2017-05-03 00:36] bhepple commented on #638
Do we need a '+' in that patch:
[code]
... seems to be running without the error ...

[2017-05-04 21:24] alekiv opened #645 "JolokiaCollector collects all mbeans regardless of mbeans argument configuration"
From documentation:
mbeans argument - Pipe delimited list of MBeans for which to collect stats. If not provided, all stats will be collected.

Actually collector collects **all** mbeans regardless of configured mbeans. "mbeans" list or regex is used just for filtering out actual mbeans from big list of domain obj. It becomes problem with CassandraJolokiaCollector, since there are much data in JMX

[2017-05-16 04:13] shortdudey123 commented on #638
Going to close this since <2.6 is not supported anymore and the main thing keeping diamond from starting in 2.6 has been solved via https://github.com/python-diamond/Diamond/pull/650

If you come across anything else that does not work in 2.6, feel free to open a new issue or PR

[2017-05-16 04:13] #638 closed

[2017-05-25 18:21] jindov opened #653 "InfluxdbHandler can not send metric to influxdb v1.2"
Hi guys,

I set up an influxdb v1.2 then I want to use Diamond to send server's metrics to influxdb but it's error:

My stack is:
- influxdb v1.2
- Diamond 4.0.809
- influxdb python 4.1.0

diamond.conf
[code]

The question is "Does InfluxdbHandler support to send metric to influxdb v1.2 or only v0.9 and prior version?"

Thanks

[2017-05-25 19:46] szibis commented on #653
https://github.com/python-diamond/Diamond/pull/504

[2017-06-07 19:04] massiccio opened #655 "Mysql performance schema collector"
Hello,

I have written a collector which parses data from the mysql performance schema. You can find it [here](https://github.com/massiccio/graphite/tree/master/diamond_collectors/mysqlperfschema)

It was tested on MariaDB 10.1 and Percona 5.7 on both CentOS 6.8 and CentOS 7.

[2017-06-09 10:19] jantman commented on #183
I've been an on-and-off user of Diamond for quite a few years now. When I first started using it (and the two times I've come back to it since then), I was horribly confused by how the plugins are packaged. While it does facilitate easier distribution of plugins, managing dependencies is unintuitive and it's very un-pythonic.

I'd like to express my 1000% support for this proposal. Keeping compati

[2017-06-16 14:48] tasdikrahman opened #656 "[docs] Related projects gives a 404"

[2017-06-20 02:02] stayen opened #657 "MongoDbCollector sends several same-name metrics at a time, the latest set overwrites al the data sent to Graphite"
OS: Ubuntu 16.04, Diamond: 4.0.515

I was studying the issue of MongoDbCollector providing zero metrics for MongoDb in Graphite. Finally, I saw via catching the traffic that the MongoDB collector sends data sets like those below:

    servers.servername.mongo.network_per_sec.numRequests 0 1497791440
    servers.servername.mongo.network_per_sec.bytesOut 0 1497791440
    servers.servername.mongo.net

[2017-06-29 15:49] HumanUser opened #660 "NetstatCollector is to slow for heavy loaded servers"
Hello. Current realization of NetstatCollector works to slow on high loaded server.

It's utilizing 100% of one core for about a minute:
[code]

[code]
Mb it is better to make some ss-dependent version of this collector? (as it already linux-only based)
[code]

[2017-07-12 09:34] aratik711 opened #661 "No error message for SolrCollector if no cores are present"
When ever we add the solrcollector for solr 5.5.4 or 6.6.0 in diamond, the diamond service starts with out any message on the terminal or logs. But the solr server metrics are not visible in the graphite dashboard. No error message is displayed in the logs. This is because no cores are present in the solr server. If we add one then the metrics start to load in the graphite dashboard.
Diamond versi

[2017-07-12 10:02] aratik711 commented on #661
Can you create a branch for me. I would like to contribute.

[2017-07-20 09:27] isotopp opened #663 "network.py does not handle interface resets properly"
The data presented in /proc/net/dev for tx/rx bytes are counters, not rates.

The code in https://github.com/python-diamond/Diamond/blob/master/src/collectors/network/network.py#L116 tries to handle this, but does things wrongly.

The code present handles overflows by substracting 2^64. It does not take into account interface resets, which would also create negative deltas, but not with a step siz

[2017-07-20 09:34] isotopp commented on #663
Graphite code in https://github.com/graphite-project/graphite-web/blob/master/webapp/graphite/render/functions.py#L1653

This code will first check if a maxValue is present (can be None). If a downstep is observed, a value of None is produced (i.e. the measurement is marked as invalid). That's better than logging Petabytes.

[2017-07-25 13:09] filippog commented on #595
I was able to reproduce this behaviour when testing diamond 4.0.515 on stretch (and jessie), though the patch @Ssawa proposed above fixed it for us (i.e. stopping went from 20s to immediate). There's also a little more context on https://phabricator.wikimedia.org/T97635

[2017-07-25 15:31] DStape commented on #595
Hi @filippog, thanks for letting us know.

@paravoid, I'd be happy to look at making the signal handler changes, however I unfortunately don't have the time to do that just now and I'd really like to see this available in debian. [Commit fd4146d](https://github.com/python-diamond/Diamond/commit/fd4146dc30434d1ea6539d411d88ddf105061011) (same one referenced by @filippog) fixes the issue reported he

[2017-07-31 06:09] hvnsweeting opened #667 "Exception in ProcessResource collector"
I'm using latest version of diamond installed from pip

[code]

Got exception

[code]

Seem caused by new version of psutil removed the `memory_info_ex`

[code]

The `memory_info_ex` introduced in https://github.com/python-diamond/Diamond/commit/4b8b13f24b7d7332d9fa42fd56723f8cd94f2e9e#diff-06a2be2c3ff6b70d9d12032be5653241R14

For now, to workaround, I just remove `memory_info_ex` from `info_keys`

[2017-08-03 11:21] DStape opened #668 "Why must metric values be ints||floats?"
Hello,

I've searched in various places and looked at the commit logs and don't see an answer to this question: why does Diamond constrain Metric.value to an int||float? What's the reason behind this? Is it possible to extend the allowed types to include 'string' as well?

Thanks,
David

[2017-08-07 11:37] ajkumarnv opened #669 "tox -e py27 test failing"
FAIL: test_batch (testtsdb.TestTSDBdHandler)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/murphy/Diamond-master/.tox/py27/local/lib/python2.7/site-packages/mock/mock.py", line 1305, in patched
    return func(*args, **keywargs)
  File "/home/murphy/Diamond-master/src/diamond/handler/test/testtsdb.py", line 115, in test_batc

[2017-08-10 02:59] williamjoy opened #672 "Failure in mysql collector for diamond-4.0"
[code]

[2017-08-10 03:18] williamjoy commented on #672
for temp skip the error,

[code]

[2017-08-14 14:36] bakerkj opened #674 "Diamond leaving around zombie children of collector processes"
I see child processes of diamond collectors occasionally become and stay zombies.  The processes that have become zombies are (ping and unbound-control).  I am also seeing messages in the log "Took too long to run! Killed!" in the logs.

From looking at the code (I am running something very close to master as of May 16th with a few small modifications to some of the collectors not related to this

[2017-08-16 02:18] stjacob opened #675 "How can I set multi url when using HTTPJSONcollecor"
I tried these methods and failed:
1. vim /etc/diamond/diamond.conf
[[HTTPJSONCollector]]
enabled = True
url = http://172.17.14.121:18077/monitor?cmd=qps
interval = 60

[[HTTPJSONCollector]]
hostname = 172_17_14_121
enabled = True
url = http://172.17.14.121:18077/monitor?cmd=qps
interval = 60

2. I make new collector file which is copied from httpjson.py and renamed it by hostname.

What is the cor

[2017-08-17 04:50] ankitg1989 commented on #225
I am able to get some of required data using mx4j tool in kafka 10 . But i am not getting metrics at topic level . say i need bytesfectched for all topics present in cluster

[2017-08-17 16:04] zippycup commented on #225
Im running diamond (4.0.515)

KafkaCollector.conf
installed http://central.maven.org/maven2/mx4j/mx4j-tools/3.0.1/mx4j-tools-3.0.1.jar

netstat -plunt  | grep 8082
tcp        0      0 0.0.0.0:8082            0.0.0.0:*               LISTEN      1019/java

this is the url the collector constructs:
http://127.0.0.1:8082/mbean?operations=False&notifications=False&constructors=False&objectname=kafka.se

[2017-08-18 03:22] ankitg1989 commented on #225
i am also able to get data using mx4j tool when download from http://mvnrepository.com/artifact/mx4j/mx4j-tools/3.0.1 but its not working when  i use mx4j which is present on https://sourceforge.net/projects/mx4j/files/MX4J%20Binary/ . Whats the different between them ?

[2017-08-20 14:18] #656 closed

[2017-09-19 12:04] ingardm commented on #434
any traction on this?

[2017-10-01 01:26] jantman commented on #328
As far as I know, another suitable solution to this would be the ability to specify a dimension other than `InstanceId` in the metric configuration for this handler, i.e. a custom dimension name and value. Then users could alarm on that custom dimension.

[2017-10-01 12:17] jantman commented on #328
@josegonzalez @pwilczynskiclearcode I believe this issue was fixed by 38946f670ab161d89476bd2b3a0c2dfff73f6e02

[2017-10-01 18:17] #328 closed

[2017-10-06 17:46] jantman opened #678 "CloudWatch handler uses deprecated SDK"
The CloudWatch handler uses the deprecated [boto](http://boto.readthedocs.io/en/latest/) library instead of the current [boto3](https://boto3.readthedocs.io/en/latest/) / [botocore](https://botocore.readthedocs.io/en/latest/) library.

This means it's impossible to run Diamond in an ECS (docker) task using a Task Role, as those creds aren't supported by the old ``boto`` library.

[2017-10-13 12:21] freeseacher commented on #317
any news since then ?

[2017-10-24 08:31] williamjoy opened #684 "imp load module causing TypeError('super(type, obj)"
`TypeError('super(type, obj): obj must be an instance or subtype of type' with IMP` when initializing SNMPInterfaceCollector

The collector module loaded as following orders, rely on `os.listdir()` output
[code]

I tested on my environment, `snmpraw` collector and `iodrivesnmp` always works but not `snmpinterface`,  this is probably due to `snmp` module is reloaded by imp, related codes: https://g

[2017-10-24 08:37] williamjoy commented on #684
Diamond version `__VERSION__ = 'f2bece462577a7c557be8a9f90f6b9340c3db571..0-github_archive'` f2bece462577a7c557be8a9f90f6b9340c3db571
Adding the Error log

[code]

[2017-11-13 22:39] errordeveloper commented on #317
I would be happy to help, please reply here or email ilya@weave.works.

[2017-12-05 06:24] MetikovVadim opened #687 "Docker-collector in version 4.0.809 crash with error"
Hello there!

There is no metrics from Diamond Docker collector. In the log i found only:
[MainThread] Collector failed!
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/diamond/utils/scheduler.py", line 77, in collector_process
    collector._run()
  File "/usr/lib/python2.7/site-packages/diamond/collector.py", line 477, in _run
    self.collect()
  File "/usr/share/dia

[2017-12-25 13:17] kramerli opened #691 "Will this code in server.py mess the log?"
I can see below code in server.py

        handlers_process = multiprocessing.Process(
            name="Handlers",
            target=handler_process,
            args=(self.handlers, self.metric_queue, self.log),
        )

I did some search on the internet, a lot posts said that logging do not have a lock between process. So use log in multiprocessing may cause the content of log be messed.

Wi

[2017-12-29 19:57] gehzumteufel opened #692 "[enhancement] ArchiveHandler: log compression"
I don't really understand why it wasn't built in, but this handler should compress the old logs.

[code]

Having a log this size uncompressed, and more than one, is just pointless and dumb. This is the perfect candidate for compression from this large number to a significantly smaller number. As one sees with the same file compressed with the highest compression (-9) above in gzip.

[2018-01-11 07:57] MetikovVadim commented on #687
Resolved by downgrade CentOS, install dockerpy and others.

[2018-01-11 07:57] #687 closed

[2018-02-09 07:54] KlavsKlavsen commented on #292
Did you ever find a solution for this?

[2018-02-15 15:43] gummeah commented on #687
AFAIK the reason is conflict between docker and docker-py python modules. docker module is the new version of docker-py. New versions of docker-compose, for example, using docker. And Diamond is using docker-py.

[2018-02-15 15:58] gummeah commented on #687
#https://github.com/gummeah/Diamond/commit/7317dcad3552635bd29398eade4a8ba5fb7ec3ed
This should fix it, if you want to use new version.

[2018-02-27 05:26] demonix opened #697 "MongoDB collector splits logically atomic metric key components"
Hi!
There was an issue #547, where @bdelbosc notices, that mongo db metrics contains spaces and fixes that. But at the same time he replaced dashes with dots.
That's strange because a lot of metric names contain dashes and logically they must be written as single element in metric key.
We also have dashes in collection and index names, so writing graphite functions on top of these metrics is hard.

[2018-02-28 21:32] DStape opened #699 "Concern around lack of activity"
Hello @Gaurav Jain, @josegonzalez, @kormoc, @mattrobenolt, @mzupan, @rtoma, @shortdudey123 (I'm picking on you all simply because you're listed on https://github.com/orgs/python-diamond/people :)),

 The last commit to land in this repo happened way back in May 2017, not far off a year ago.

The most recent release, 4.0.515, was made in November 2016, which was about a year and 3 months ago.

A ba

[2018-02-28 21:34] mattrobenolt commented on #699
I personally have no capacity to contribute to Diamond. Primarily because I don't use it anymore as we have moved on.

[2018-02-28 21:41] josegonzalez commented on #699
I honestly stopped watching the project. Many of the users seem to think that merging their pull request is simply just "clicking a button". Unfortunately, when there are tests, those aren't updated, and when there aren't, there are obvious breaks in functionality.

If you want to go through and test specific pull requests, ask for tests/docs/changes, and ping me on them so I can merge, great. I c

[2018-02-28 21:45] DStape commented on #699
Thanks for your response @mattrobenolt, that's absolutely fine.

On reflection of my original post, I think all I'm trying to determine is whether or not I should fork this and go my own way. I'd definitely prefer not to though, especially as there still seems to be a reasonable amount of interest in this project.

[2018-02-28 21:48] mattrobenolt commented on #699
So to @josegonzalez's point, maintaining all of our plugins was a real burden. There's just so many different things and so much different software that Diamond can monitor, that it's unbearable to maintain in core Diamond.

A while back, I pushed to slim down core Diamond to essentially just basic system monitoring, and provide individual repositories for each plugin, so they can be maintained in

[2018-02-28 21:51] DStape commented on #699
@josegonzalez , OK, I think there should be some kind of contribution guide then, not something that has to be written from scratch, we can leverage one from some other project.

I'm happy to go through the outstanding issues and at the very least prod for additional info where it's needed. I'm not going to put a timescale on this though. I will ping you on the PRs that I think are 'merge-able', b

[2018-02-28 21:56] DStape commented on #699
Thanks for linking to that issue @mattrobenolt , I agree 100% that a new model is needed for how collectors and handlers are maintained, the possibilities for those are endless. I'll have a read over that and see if there's anything I can do to stir that into action (although I doubt it'll be an easy task).

(I'm signing off for the night but will follow up on this over the coming days.)

[2018-02-28 22:21] gaurav commented on #699
I think you want @jaingaurav, not me. Removing myself from thread.

[2018-03-02 11:44] Raboo commented on #699
Perhaps allow more people to become maintainers of this project? Ask people that sends pull requests. Look at forks with high activity, ask them to join and help instead of having a second maintained fork.

[2018-03-12 21:31] Vandy07 opened #702 "OpenLDAP - Collector"
Hello,

When i try collect metrics of my openldap,  using OpenLDAP - collector, presents this messages of error:

_[2018-03-12 18:23:48,641] [MainThread] Unable to query ldap://<IP>:389: {'info': u'TLS error -5938:Encountered end of file', 'errno': 21, 'desc': u'Connect error'}
[2018-03-12 18:24:08,470] [MainThread] Unable to query ldap://<IP>:389: {'info': u'TLS error -5938:Encountered end of fil

[2018-03-15 11:12] eirnym commented on #396
Is there any work going to bring Python3 compatibility?

[2018-03-15 13:50] josegonzalez commented on #396
@eirnym Not at the moment, but if you'd like to contribute a pull request, I would love to review/merge it.

[2018-03-15 14:13] hugovk commented on #396
I think dropping Python 2.6 (and earlier) would be a good first step. 2.6 is EOL and no longer receiving security updates, and is little used.

Here's the pip installs for Diamond from PyPI for last month:

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |  98.43% |         21,433 |
| 2.6            |   1.41% |            306 |
| 3.6

[2018-03-15 15:09] josegonzalez commented on #396
@hugovk done!

[2018-03-15 15:49] hugovk commented on #396
Thanks! See PR #703 to drop Python 2.6, do some updates for 2.7+, and prep towards Python 3.

[2018-03-15 16:54] josegonzalez commented on #396
Merged that! If you can continue working on Py3, that would be radical :)

[2018-03-21 20:34] DStape commented on #56
Hello @shaunduncan,

The link you posted is now out-of-data but I believe http://setuptools.readthedocs.io/en/latest/setuptools.html#dynamic-discovery-of-services-and-plugins points to the same info.

If you are still interested in this, it would be great if you could send an example.

(@josegonzalez , to get on top of the backlog of open issues, I think this can be closed.)

[2018-03-21 20:36] DStape commented on #57
@josegonzalez , to get on top of the backlog of open issues, I think this can be closed. (Plus, this user no longer exists.)

[2018-03-21 20:38] DStape commented on #59
Hello @shaunduncan, this issues was opened a while ago, is it still a problem?

(@josegonzalez , to get on top of the backlog of open issues, I think this can be closed.)

[2018-03-21 21:11] DStape commented on #699
@Raboo , yep, I don't think forking is a good way to go and there still remains decent user activity on this project.

I have requested to pick up maintainership for the debian packaging side of things - https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=888077.

I've started going through the open issues (oldest first) and trying to determine the best/quickest way to resolve each. @josegonzalez ,

[2018-03-21 21:21] DStape commented on #697
Hi @demonix,

This problem can be solved by adding a new config option to the MongoDB collector that allows the user to specify what delimiter to use. Is this something you'd be able to provide? Thanks.

[2018-03-21 21:29] josegonzalez commented on #59
Cool cool, closing.

[2018-03-21 21:29] #59 closed

[2018-03-21 21:30] josegonzalez commented on #56
Closing. Please comment if this is still an issue.

[2018-03-21 21:30] #56 closed

[2018-03-21 21:30] josegonzalez commented on #699
Sounds good. Spam away and I'll try and get to closing when I see them.

[2018-03-21 21:31] mattrobenolt commented on #56
I did this a long time ago: https://github.com/python-diamond/Diamond/pull/263

[2018-03-21 21:34] DStape commented on #692
Hi @gehzumteufel,

Looking at the ArchiveHandler code, it looks like it does some kind of rotation using Python's ```logging.handlers.TimedRotatingFileHandler```. When instantiating, the handler code passes an encoding. By default, this is empty but it can be configured as part of the handler's config.

Could you try setting ```encoding = bz2``` in the config and see if that works? Thanks.

[2018-03-21 21:36] DStape commented on #692
(Just to note, ```encoding``` is listed as a config option in the documentation (https://diamond.readthedocs.io/en/latest/handlers/ArchiveHandler/), but maybe we should update that to include examples to make what it does more obvious.

[2018-03-21 22:01] DStape commented on #691
Hi @kramerli,

This is a good question. Writing to the same file from different processes can result in weird behaviour - the data written might be interleaved and/or incomplete, or worse, the file may become corrupted. I think there will be other factors in play though, for example what type of file system is in use. But, for that reason alone, I think this is something that will have to be inves

[2018-03-21 22:03] DStape commented on #684
Hi @williamjoy,

As this issue was raised a few months ago, do you have a fix for this?

[2018-03-21 22:33] DStape commented on #675
Hi @stjacob,

My first thought was, "does this collector support multiple URLs", unfortunately it doesn't, is this something you think you'd be able to add? No problem if not.

Or alternatively, there is a way to run multiple instances of the same collector:

1) Add ```collectors_config_path = <some/path/to/your/collector/config>```
2) Make sure your ```HTTPJSONCollector.conf``` exists at that pat

[2018-03-21 22:44] DStape commented on #623
Hi @m-messiah,

This was reported over a year ago - is this issue still present?

Installing diamond as a debian package should now be pulling in python-configobj due to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=824228.

[2018-03-21 23:24] Raboo commented on #699
Well this is a bit of double work. @josegonzalez just add @DStape to this project so he can close issues and do some house cleaning. He's obviously interested in helping out.

[2018-03-22 00:41] josegonzalez commented on #699
I will once I've seen that he continues to provide support/comments in the way he is committing to. I have no intention of being a blocker here. If any other maintainer wants to override and add, feel free.

[2018-03-22 09:12] Raboo commented on #699
Okay, makes sense.

[2018-03-22 10:36] DStape commented on #699
Thanks for your input @Raboo. And @josegonzalez, I'm happy with that, it makes sense to me too.

[2018-03-22 22:58] DStape commented on #140
Hello @fmargelidon, we're trying to prune the backlog of open issues that have accumulated over the years to make maintaining this project easier to maintain going forward. Given that this was opened almost 3 years ago now, we're going to close this issue. However, if you're still hitting the same problems then please just open a new issue and we'll be happy to help, thanks.

@josegonzalez, can we

[2018-03-22 23:00] DStape commented on #144
Hello @basilfx,

We're going to close this issue, simply because it's almost 3 years old. If you or anyone else continues to run into this problem, please feel free to open a new issue, thanks. @josegonzalez

[2018-03-22 23:19] DStape commented on #146
Hello @powo, @Gug42,

I can see that this still remains a problem (and only for this specific collector):
[code]

[2018-03-22 23:25] DStape commented on #155
Hello @himanchali,

As this issue is approaching 3 years old, we're going to close this. If you (or anyone else reading) still have an interest in running a collector once and then exiting, please open a new issue. Thanks. @josegonzalez

[2018-03-22 23:25] #155 closed

[2018-03-22 23:25] #146 closed

[2018-03-22 23:26] #144 closed

[2018-03-22 23:26] #140 closed

[2018-03-22 23:27] DStape commented on #155
Some additional thoughts on this...

Collectors run in their own process space, but whenever the scheduler sees that a collector has died (whether or not the collector decided to commit suicide), the scheduler will always bring it back to life.
Therefore, a solution for this problem might be to outside the scope of the diamond code, i.e. start diamond, wait enough time for the collector to run, st